@use "sass:map";

$theme-settings: (
  styleOutput: false,
  colors: (
    colorModes: true,
    generateColorModes: true,
    opacity: true,
    experimental: false,
  ),
);

@import "../src/index";
