$theme-settings: (
  prefix: "test",
);

@import "../src/use.scss";

.something {
  @include property(
    (
      "padding": 10px,
      "left": 0,
      "top": 0,
      "position": absolute,
      "background": red,
    )
  );
  &__element {
    @include property(
      (
        "background-color": foreground,
        "color": background,
        padding: 0,
      )
    );
    &:hover {
      @include property(
        (
          transform: scale(0.5),
          background-color: foreground75,
        )
      );
    }
    &:focus {
      @include property(
        (
          transform: scale(0.6),
          background-color: foreground75,
        )
      );
    }
  }
}
