$theme-settings: (
  prefix: "food",
);

@import "../src/use.scss";

.hamburger {
  background: v(background);
  color: v(foreground);
  &__bread {
    background: v(background);
    color: v(foreground);
  }
  &__cheese {
    /* Should be PRIMARY! */
    background: v("background", primary25);
  }
  &__burger {
    background: v(background);
    color: v(foreground);
  }
  &__tomato {
    border: v(border, background);
  }
  &__bun {
    background: v(bgFill, background);
  }
}
.pancake {
  @include property(
    (
      "padding": 10px,
      "left": 0,
      "top": 0,
      "position": absolute,
      "background": red,
      "color": foreground,
    )
  );
  &__honey {
    @include property(
      (
        "background-color": background25,
        "color": background25,
        padding: 0,
      )
    );
    &:hover {
      @include property(
        (
          transform: scale(0.5),
          background-color: foreground75,
        )
      );
    }
    &:focus {
      @include property(
        (
          transform: scale(0.6),
          background-color: foreground75,
        )
      );
    }
  }
}

.plate {
  .pancake {
    @include property(
      (
        content: none,
        background-color: background10,
      )
    );
  }
}

.table {
  .cloth {
    .plate {
      .pancake {
        @include property(
          (
            content: none,
            background-color: background10,
          ),
          use-path
        );
      }
    }
  }
}
