@use "sass:map";
@use "sass:math";

$colors: () !default;

$cache-bg: null;
$cache-fg: null;
$cache-bg-var: null;
$cache-fg-var: null;
$cache-bg-light: null;
$cache-fg-light: null;
$cache-avg-light: null;
$darkmode: null;
$mix-color: null;

@mixin resetColorCache() {
  $cache-bg: null !global;
  $cache-fg: null !global;
  $cache-bg-var: null !global;
  $cache-fg-var: null !global;
  $cache-bg-light: null !global;
  $cache-fg-light: null !global;
  $cache-avg-light: null !global;
  $darkmode: null !global;
  $mix-color: null !global;
}

@function has-color($key, $colorset: $colors) {
  @if type-of($colorset) == "map" {
    @return map.has-key($colorset, $key);
  } @else {
    @warn "colors is not a map but: #{type-of($colorset)}";
    @return false;
  }
}

@function get-color($key, $colorset: $colors) {
  @if type-of($colorset) == "map" {
    @if map.has-key($colorset, $key) {
      @return map.get($colorset, $key);
    } @else {
      @warn "#{$key} does not exist in colors";
    }
  } @else {
    @warn "colors is not a map but: #{type-of($colorset)}";
    @return false;
  }
}

@function getMixColor($color, $colorset: $colors, $cached: true) {
  @if $cached {
    @if $cache-bg == null {
      $cache-bg: get-color("background", $colorset) !global;
    }
    @if $cache-fg == null {
      $cache-fg: get-color("foreground", $colorset) !global;
    }
  } @else {
    $cache-bg: get-color("background", $colorset) !global;
    $cache-fg: get-color("foreground", $colorset) !global;
  }

  @if $cache-bg == $color {
    @return $cache-fg;
  } @else {
    @return $cache-bg;
  }
}

@function addOpacityShades($shade-colors, $shades: (), $cached: true) {
  $add-colors: ();

  @each $name, $value in $shade-colors {
    @if length($shades) > 0 {
      @each $shade in $shades {
        @if $shade != null {
          $color-name: "#{$name}#{$shade}";
          $color-value: rgba($value, 0.01 * $shade);
          $add-colors: map.set($add-colors, $color-name, $color-value);
        }
      }
    }
  }

  @return map.merge($shade-colors, $add-colors);
}

@function addShades($shade-colors, $shades: (), $cached: true) {
  $add-colors: ();

  @each $name, $value in $shade-colors {
    @if length($shades) > 0 {
      @each $shade in $shades {
        $color-name: "#{$name}#{$shade}";
        $mix-color: getMixColor($value, $shade-colors, $cached);
        $color-value: mix($value, $mix-color, $shade);
        $add-colors: map.set($add-colors, $color-name, $color-value);
      }
    }
  }

  @return map.merge($shade-colors, $add-colors);
}

@function addTextColor($text-colors) {
  $add-colors: ();
  @each $name, $value in $text-colors {
    $color-name: "#{$name}Text";
    $color-value: getTextColor($value);
    $add-colors: map.set($add-colors, $color-name, $color-value);
  }
  @return map.merge($text-colors, $add-colors);
}

@function text-contrast($color, $dark: black, $light: white) {
  $brightness: round(
    (red($color) * 299)+ (green($color) * 587) + math.div((blue($color) * 114), 1000)
  );
  $whiteness: round(
    (red(#ffffff) * 299)+ (green(#ffffff) * 587) + math.div((blue(#ffffff) * 114), 1000)
  );
  @if abs($brightness) < math.div($whiteness, 2) {
    @return $dark;
  } @else {
    @return $light;
  }
}

@function getTextColor($color-value) {
  @if $cache-bg == null {
    $cache-bg: get-color("background") !global;
  }
  @if $cache-fg == null {
    $cache-fg: get-color("foreground") !global;
  }
  @if $cache-bg-var == null {
    $cache-bg-var: #{variable(background)} !global;
  }
  @if $cache-bg-light == null {
    $cache-bg-light: lightness($cache-bg) !global;
  }
  @if $cache-fg-light == null {
    $cache-fg-light: lightness($cache-fg) !global;
  }
  @if $cache-fg-var == null {
    $cache-bg-var: white !global;
    $cache-fg-var: #{variable(foreground)} !global;
  }

  @if $cache-avg-light == null {
    $cache-avg-light: math.div(($cache-bg-light + $cache-fg-light), 2) !global;
  }

  @if $darkmode == null {
    $darkmode: ($cache-bg-light > $cache-fg-light) !global;
  }

  $light: $cache-bg;
  $dark: $cache-fg;

  @if $darkmode {
    $light: $cache-fg;
    $dark: $cache-bg;
  }

  $color-value: text-contrast($color-value, $dark, $light);

  @return $color-value;
}

@function toMode($mode, $clrs) {
  $mode-colors: ();

  $bg: map.get($clrs, "background");
  $fg: map.get($clrs, "foreground");

  $bg-lightness: lightness($bg);
  $fg-lightness: lightness($fg);

  @if $bg-lightness < $fg-lightness {
    $current: "dark";
  }
  $current: "light";

  @if $mode == $current {
    @return $clrs;
  } @else {
    @return map.merge(
      $clrs,
      (
        background: $fg,
        foreground: $bg,
      )
    );
  }
}
