@use "sass:map"; // Cache

@function has-default($key) {
  @if length($cached-defaults) < 1 {
    $cached-defaults: map.merge($cached-defaults, $colors) !global;
    $cached-defaults: map.merge($cached-defaults, $typography) !global;
    $cached-defaults: map.merge($cached-defaults, $base) !global;
    $cached-defaults: map.merge($cached-defaults, $settings) !global;
  }

  @return map-has-key($cached-defaults, $key);
}

@function get-default($key) {
  @if length($cached-defaults) < 1 {
    $cached-defaults: map.merge($cached-defaults, $colors) !global;
    $cached-defaults: map.merge($cached-defaults, $typography) !global;
    $cached-defaults: map.merge($cached-defaults, $base) !global;
    $cached-defaults: map.merge($cached-defaults, $settings) !global;
  }

  @return map.get($cached-defaults, $key);
}
