@if $has-style {
  html {
    background-color: black;
  }
  body,
  html {
    padding: 0;
    margin: 0;
    background-color: v(background);
    color: v(foreground);
    font-size: v(baseSize);
    font-family: v(primaryFontFamily);
  }
}
