$primaryFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$secondaryFontFamily: Georgia, "Times New Roman", serif;
$theme-colors: (
  "background": #ffffff,
  "background-b": 255,
  "background-g": 255,
  "background-h": 0,
  "background-l": 100,
  "background-r": 255,
  "background-s": 0,
  "background-text": #111111,
  "background10": #e7e7e7,
  "background10-b": 231,
  "background10-g": 231,
  "background10-h": 0,
  "background10-l": 100,
  "background10-r": 231,
  "background10-s": 0,
  "background10-text": #111111,
  "background25": #c4c4c4,
  "background25-b": 196,
  "background25-g": 196,
  "background25-h": 0,
  "background25-l": 100,
  "background25-r": 196,
  "background25-s": 0,
  "background25-text": #111111,
  "background50": #888888,
  "background50-b": 136,
  "background50-g": 136,
  "background50-h": 0,
  "background50-l": 100,
  "background50-r": 136,
  "background50-s": 0,
  "background50-text": #ffffff,
  "background75": #4d4d4d,
  "background75-b": 77,
  "background75-g": 77,
  "background75-h": 0,
  "background75-l": 100,
  "background75-r": 77,
  "background75-s": 0,
  "background75-text": #ffffff,
  "background90": #292929,
  "background90-b": 41,
  "background90-g": 41,
  "background90-h": 0,
  "background90-l": 100,
  "background90-r": 41,
  "background90-s": 0,
  "background90-text": #ffffff,
  "caution": #fed02f,
  "caution-b": 47,
  "caution-g": 208,
  "caution-h": 47,
  "caution-l": 59,
  "caution-r": 254,
  "caution-s": 100,
  "caution-text": #111111,
  "caution10": #fffaea,
  "caution10-b": 234,
  "caution10-g": 250,
  "caution10-h": 47,
  "caution10-l": 59,
  "caution10-r": 255,
  "caution10-s": 100,
  "caution10-text": #111111,
  "caution25": #fff3cb,
  "caution25-b": 203,
  "caution25-g": 243,
  "caution25-h": 47,
  "caution25-l": 59,
  "caution25-r": 255,
  "caution25-s": 100,
  "caution25-text": #111111,
  "caution50": #ffe897,
  "caution50-b": 151,
  "caution50-g": 232,
  "caution50-h": 47,
  "caution50-l": 59,
  "caution50-r": 255,
  "caution50-s": 100,
  "caution50-text": #111111,
  "caution75": #fedc63,
  "caution75-b": 99,
  "caution75-g": 220,
  "caution75-h": 47,
  "caution75-l": 59,
  "caution75-r": 254,
  "caution75-s": 100,
  "caution75-text": #111111,
  "caution90": #fed544,
  "caution90-b": 68,
  "caution90-g": 213,
  "caution90-h": 47,
  "caution90-l": 59,
  "caution90-r": 254,
  "caution90-s": 100,
  "caution90-text": #111111,
  "dark": #111111,
  "dark-b": 17,
  "dark-g": 17,
  "dark-h": 0,
  "dark-l": 7,
  "dark-r": 17,
  "dark-s": 0,
  "dark-text": #ffffff,
  "dark10": #e7e7e7,
  "dark10-b": 231,
  "dark10-g": 231,
  "dark10-h": 0,
  "dark10-l": 7,
  "dark10-r": 231,
  "dark10-s": 0,
  "dark10-text": #111111,
  "dark25": #c4c4c4,
  "dark25-b": 196,
  "dark25-g": 196,
  "dark25-h": 0,
  "dark25-l": 7,
  "dark25-r": 196,
  "dark25-s": 0,
  "dark25-text": #111111,
  "dark50": #888888,
  "dark50-b": 136,
  "dark50-g": 136,
  "dark50-h": 0,
  "dark50-l": 7,
  "dark50-r": 136,
  "dark50-s": 0,
  "dark50-text": #ffffff,
  "dark75": #4d4d4d,
  "dark75-b": 77,
  "dark75-g": 77,
  "dark75-h": 0,
  "dark75-l": 7,
  "dark75-r": 77,
  "dark75-s": 0,
  "dark75-text": #ffffff,
  "dark90": #292929,
  "dark90-b": 41,
  "dark90-g": 41,
  "dark90-h": 0,
  "dark90-l": 7,
  "dark90-r": 41,
  "dark90-s": 0,
  "dark90-text": #ffffff,
  "error": #fc1b1c,
  "error-b": 28,
  "error-g": 27,
  "error-h": 0,
  "error-l": 55,
  "error-r": 252,
  "error-s": 98,
  "error-text": #ffffff,
  "error10": #ffe8e8,
  "error10-b": 232,
  "error10-g": 232,
  "error10-h": 0,
  "error10-l": 55,
  "error10-r": 255,
  "error10-s": 98,
  "error10-text": #111111,
  "error25": #fec6c6,
  "error25-b": 198,
  "error25-g": 198,
  "error25-h": 0,
  "error25-l": 55,
  "error25-r": 254,
  "error25-s": 98,
  "error25-text": #111111,
  "error50": #fe8d8e,
  "error50-b": 142,
  "error50-g": 141,
  "error50-h": 0,
  "error50-l": 55,
  "error50-r": 254,
  "error50-s": 98,
  "error50-text": #111111,
  "error75": #fd5455,
  "error75-b": 85,
  "error75-g": 84,
  "error75-h": 0,
  "error75-l": 55,
  "error75-r": 253,
  "error75-s": 98,
  "error75-text": #111111,
  "error90": #fc3233,
  "error90-b": 51,
  "error90-g": 50,
  "error90-h": 0,
  "error90-l": 55,
  "error90-r": 252,
  "error90-s": 98,
  "error90-text": #ffffff,
  "foreground": #111111,
  "foreground-b": 17,
  "foreground-g": 17,
  "foreground-h": 0,
  "foreground-l": 7,
  "foreground-r": 17,
  "foreground-s": 0,
  "foreground-text": #ffffff,
  "foreground10": #292929,
  "foreground10-b": 41,
  "foreground10-g": 41,
  "foreground10-h": 0,
  "foreground10-l": 7,
  "foreground10-r": 41,
  "foreground10-s": 0,
  "foreground10-text": #ffffff,
  "foreground25": #4d4d4d,
  "foreground25-b": 77,
  "foreground25-g": 77,
  "foreground25-h": 0,
  "foreground25-l": 7,
  "foreground25-r": 77,
  "foreground25-s": 0,
  "foreground25-text": #ffffff,
  "foreground50": #888888,
  "foreground50-b": 136,
  "foreground50-g": 136,
  "foreground50-h": 0,
  "foreground50-l": 7,
  "foreground50-r": 136,
  "foreground50-s": 0,
  "foreground50-text": #ffffff,
  "foreground75": #c4c4c4,
  "foreground75-b": 196,
  "foreground75-g": 196,
  "foreground75-h": 0,
  "foreground75-l": 7,
  "foreground75-r": 196,
  "foreground75-s": 0,
  "foreground75-text": #111111,
  "foreground90": #e7e7e7,
  "foreground90-b": 231,
  "foreground90-g": 231,
  "foreground90-h": 0,
  "foreground90-l": 7,
  "foreground90-r": 231,
  "foreground90-s": 0,
  "foreground90-text": #111111,
  "info": #7abffc,
  "info-b": 252,
  "info-g": 191,
  "info-h": 208,
  "info-l": 74,
  "info-r": 122,
  "info-s": 96,
  "info-text": #111111,
  "info10": #f2f9ff,
  "info10-b": 255,
  "info10-g": 249,
  "info10-h": 208,
  "info10-l": 74,
  "info10-r": 242,
  "info10-s": 96,
  "info10-text": #111111,
  "info25": #deeffe,
  "info25-b": 254,
  "info25-g": 239,
  "info25-h": 208,
  "info25-l": 74,
  "info25-r": 222,
  "info25-s": 96,
  "info25-text": #111111,
  "info50": #bddffe,
  "info50-b": 254,
  "info50-g": 223,
  "info50-h": 208,
  "info50-l": 74,
  "info50-r": 189,
  "info50-s": 96,
  "info50-text": #111111,
  "info75": #9bcffd,
  "info75-b": 253,
  "info75-g": 207,
  "info75-h": 208,
  "info75-l": 74,
  "info75-r": 155,
  "info75-s": 96,
  "info75-text": #111111,
  "info90": #87c5fc,
  "info90-b": 252,
  "info90-g": 197,
  "info90-h": 208,
  "info90-l": 74,
  "info90-r": 135,
  "info90-s": 96,
  "info90-text": #111111,
  "light": #ffffff,
  "light-b": 255,
  "light-g": 255,
  "light-h": 0,
  "light-l": 100,
  "light-r": 255,
  "light-s": 0,
  "light-text": #111111,
  "light10": #292929,
  "light10-b": 41,
  "light10-g": 41,
  "light10-h": 0,
  "light10-l": 100,
  "light10-r": 41,
  "light10-s": 0,
  "light10-text": #ffffff,
  "light25": #4d4d4d,
  "light25-b": 77,
  "light25-g": 77,
  "light25-h": 0,
  "light25-l": 100,
  "light25-r": 77,
  "light25-s": 0,
  "light25-text": #ffffff,
  "light50": #888888,
  "light50-b": 136,
  "light50-g": 136,
  "light50-h": 0,
  "light50-l": 100,
  "light50-r": 136,
  "light50-s": 0,
  "light50-text": #ffffff,
  "light75": #c4c4c4,
  "light75-b": 196,
  "light75-g": 196,
  "light75-h": 0,
  "light75-l": 100,
  "light75-r": 196,
  "light75-s": 0,
  "light75-text": #111111,
  "light90": #e7e7e7,
  "light90-b": 231,
  "light90-g": 231,
  "light90-h": 0,
  "light90-l": 100,
  "light90-r": 231,
  "light90-s": 0,
  "light90-text": #111111,
  "primary": #01eeff,
  "primary-b": 255,
  "primary-g": 238,
  "primary-h": 184,
  "primary-l": 50,
  "primary-r": 1,
  "primary-s": 100,
  "primary-text": #111111,
  "primary10": #e6fdff,
  "primary10-b": 255,
  "primary10-g": 253,
  "primary10-h": 184,
  "primary10-l": 50,
  "primary10-r": 230,
  "primary10-s": 100,
  "primary10-text": #111111,
  "primary25": #c0fbff,
  "primary25-b": 255,
  "primary25-g": 251,
  "primary25-h": 184,
  "primary25-l": 50,
  "primary25-r": 192,
  "primary25-s": 100,
  "primary25-text": #111111,
  "primary50": #80f7ff,
  "primary50-b": 255,
  "primary50-g": 247,
  "primary50-h": 184,
  "primary50-l": 50,
  "primary50-r": 128,
  "primary50-s": 100,
  "primary50-text": #111111,
  "primary75": #41f2ff,
  "primary75-b": 255,
  "primary75-g": 242,
  "primary75-h": 184,
  "primary75-l": 50,
  "primary75-r": 65,
  "primary75-s": 100,
  "primary75-text": #111111,
  "primary90": #1af0ff,
  "primary90-b": 255,
  "primary90-g": 240,
  "primary90-h": 184,
  "primary90-l": 50,
  "primary90-r": 26,
  "primary90-s": 100,
  "primary90-text": #111111,
  "secondary": #f7166c,
  "secondary-b": 108,
  "secondary-g": 22,
  "secondary-h": 338,
  "secondary-l": 53,
  "secondary-r": 247,
  "secondary-s": 94,
  "secondary-text": #ffffff,
  "secondary10": #fee8f0,
  "secondary10-b": 240,
  "secondary10-g": 232,
  "secondary10-h": 338,
  "secondary10-l": 53,
  "secondary10-r": 254,
  "secondary10-s": 94,
  "secondary10-text": #111111,
  "secondary25": #fdc5da,
  "secondary25-b": 218,
  "secondary25-g": 197,
  "secondary25-h": 338,
  "secondary25-l": 53,
  "secondary25-r": 253,
  "secondary25-s": 94,
  "secondary25-text": #111111,
  "secondary50": #fb8bb6,
  "secondary50-b": 182,
  "secondary50-g": 139,
  "secondary50-h": 338,
  "secondary50-l": 53,
  "secondary50-r": 251,
  "secondary50-s": 94,
  "secondary50-text": #111111,
  "secondary75": #f95091,
  "secondary75-b": 145,
  "secondary75-g": 80,
  "secondary75-h": 338,
  "secondary75-l": 53,
  "secondary75-r": 249,
  "secondary75-s": 94,
  "secondary75-text": #111111,
  "secondary90": #f82d7b,
  "secondary90-b": 123,
  "secondary90-g": 45,
  "secondary90-h": 338,
  "secondary90-l": 53,
  "secondary90-r": 248,
  "secondary90-s": 94,
  "secondary90-text": #ffffff,
  "success": #54d577,
  "success-b": 119,
  "success-g": 213,
  "success-h": 136,
  "success-l": 59,
  "success-r": 84,
  "success-s": 61,
  "success-text": #111111,
  "success10": #eefbf1,
  "success10-b": 241,
  "success10-g": 251,
  "success10-h": 136,
  "success10-l": 59,
  "success10-r": 238,
  "success10-s": 61,
  "success10-text": #111111,
  "success25": #d4f5dd,
  "success25-b": 221,
  "success25-g": 245,
  "success25-h": 136,
  "success25-l": 59,
  "success25-r": 212,
  "success25-s": 61,
  "success25-text": #111111,
  "success50": #aaeabb,
  "success50-b": 187,
  "success50-g": 234,
  "success50-h": 136,
  "success50-l": 59,
  "success50-r": 170,
  "success50-s": 61,
  "success50-text": #111111,
  "success75": #7fe099,
  "success75-b": 153,
  "success75-g": 224,
  "success75-h": 136,
  "success75-l": 59,
  "success75-r": 127,
  "success75-s": 61,
  "success75-text": #111111,
  "success90": #65d985,
  "success90-b": 133,
  "success90-g": 217,
  "success90-h": 136,
  "success90-l": 59,
  "success90-r": 101,
  "success90-s": 61,
  "success90-text": #111111,
  "tertiary": #6a2ef7,
  "tertiary-b": 247,
  "tertiary-g": 46,
  "tertiary-h": 258,
  "tertiary-l": 57,
  "tertiary-r": 106,
  "tertiary-s": 93,
  "tertiary-text": #ffffff,
  "tertiary10": #f0eafe,
  "tertiary10-b": 254,
  "tertiary10-g": 234,
  "tertiary10-h": 258,
  "tertiary10-l": 57,
  "tertiary10-r": 240,
  "tertiary10-s": 93,
  "tertiary10-text": #111111,
  "tertiary25": #dacbfd,
  "tertiary25-b": 253,
  "tertiary25-g": 203,
  "tertiary25-h": 258,
  "tertiary25-l": 57,
  "tertiary25-r": 218,
  "tertiary25-s": 93,
  "tertiary25-text": #111111,
  "tertiary50": #b597fb,
  "tertiary50-b": 251,
  "tertiary50-g": 151,
  "tertiary50-h": 258,
  "tertiary50-l": 57,
  "tertiary50-r": 181,
  "tertiary50-s": 93,
  "tertiary50-text": #111111,
  "tertiary75": #8f62f9,
  "tertiary75-b": 249,
  "tertiary75-g": 98,
  "tertiary75-h": 258,
  "tertiary75-l": 57,
  "tertiary75-r": 143,
  "tertiary75-s": 93,
  "tertiary75-text": #ffffff,
  "tertiary90": #7943f8,
  "tertiary90-b": 248,
  "tertiary90-g": 67,
  "tertiary90-h": 258,
  "tertiary90-l": 57,
  "tertiary90-r": 121,
  "tertiary90-s": 93,
  "tertiary90-text": #ffffff,
  "warning": #fd8324,
  "warning-b": 36,
  "warning-g": 131,
  "warning-h": 26,
  "warning-l": 56,
  "warning-r": 253,
  "warning-s": 98,
  "warning-text": #111111,
  "warning10": #fff3e9,
  "warning10-b": 233,
  "warning10-g": 243,
  "warning10-h": 26,
  "warning10-l": 56,
  "warning10-r": 255,
  "warning10-s": 98,
  "warning10-text": #111111,
  "warning25": #ffe0c8,
  "warning25-b": 200,
  "warning25-g": 224,
  "warning25-h": 26,
  "warning25-l": 56,
  "warning25-r": 255,
  "warning25-s": 98,
  "warning25-text": #111111,
  "warning50": #fec192,
  "warning50-b": 146,
  "warning50-g": 193,
  "warning50-h": 26,
  "warning50-l": 56,
  "warning50-r": 254,
  "warning50-s": 98,
  "warning50-text": #111111,
  "warning75": #fea25b,
  "warning75-b": 91,
  "warning75-g": 162,
  "warning75-h": 26,
  "warning75-l": 56,
  "warning75-r": 254,
  "warning75-s": 98,
  "warning75-text": #111111,
  "warning90": #fd8f3a,
  "warning90-b": 58,
  "warning90-g": 143,
  "warning90-h": 26,
  "warning90-l": 56,
  "warning90-r": 253,
  "warning90-s": 98,
  "warning90-text": #111111,
);
$darkmode-colors: (
  "background": #111111,
  "background-b": 17,
  "background-g": 17,
  "background-h": 0,
  "background-l": 7,
  "background-r": 17,
  "background-s": 0,
  "background-text": #ffffff,
  "background10": #292929,
  "background10-b": 41,
  "background10-g": 41,
  "background10-h": 0,
  "background10-l": 7,
  "background10-r": 41,
  "background10-s": 0,
  "background10-text": #ffffff,
  "background25": #4d4d4d,
  "background25-b": 77,
  "background25-g": 77,
  "background25-h": 0,
  "background25-l": 7,
  "background25-r": 77,
  "background25-s": 0,
  "background25-text": #ffffff,
  "background50": #888888,
  "background50-b": 136,
  "background50-g": 136,
  "background50-h": 0,
  "background50-l": 7,
  "background50-r": 136,
  "background50-s": 0,
  "background50-text": #ffffff,
  "background75": #c4c4c4,
  "background75-b": 196,
  "background75-g": 196,
  "background75-h": 0,
  "background75-l": 7,
  "background75-r": 196,
  "background75-s": 0,
  "background75-text": #111111,
  "background90": #e7e7e7,
  "background90-b": 231,
  "background90-g": 231,
  "background90-h": 0,
  "background90-l": 7,
  "background90-r": 231,
  "background90-s": 0,
  "background90-text": #111111,
  "caution": #fed02f,
  "caution-b": 47,
  "caution-g": 208,
  "caution-h": 47,
  "caution-l": 59,
  "caution-r": 254,
  "caution-s": 100,
  "caution-text": #111111,
  "caution10": #292414,
  "caution10-b": 20,
  "caution10-g": 36,
  "caution10-h": 47,
  "caution10-l": 59,
  "caution10-r": 41,
  "caution10-s": 100,
  "caution10-text": #ffffff,
  "caution25": #4c4119,
  "caution25-b": 25,
  "caution25-g": 65,
  "caution25-h": 47,
  "caution25-l": 59,
  "caution25-r": 76,
  "caution25-s": 100,
  "caution25-text": #ffffff,
  "caution50": #887120,
  "caution50-b": 32,
  "caution50-g": 113,
  "caution50-h": 47,
  "caution50-l": 59,
  "caution50-r": 136,
  "caution50-s": 100,
  "caution50-text": #ffffff,
  "caution75": #c3a028,
  "caution75-b": 40,
  "caution75-g": 160,
  "caution75-h": 47,
  "caution75-l": 59,
  "caution75-r": 195,
  "caution75-s": 100,
  "caution75-text": #111111,
  "caution90": #e6bd2c,
  "caution90-b": 44,
  "caution90-g": 189,
  "caution90-h": 47,
  "caution90-l": 59,
  "caution90-r": 230,
  "caution90-s": 100,
  "caution90-text": #111111,
  "dark": #111111,
  "dark-b": 17,
  "dark-g": 17,
  "dark-h": 0,
  "dark-l": 7,
  "dark-r": 17,
  "dark-s": 0,
  "dark-text": #ffffff,
  "dark10": #e7e7e7,
  "dark10-b": 231,
  "dark10-g": 231,
  "dark10-h": 0,
  "dark10-l": 7,
  "dark10-r": 231,
  "dark10-s": 0,
  "dark10-text": #111111,
  "dark25": #c4c4c4,
  "dark25-b": 196,
  "dark25-g": 196,
  "dark25-h": 0,
  "dark25-l": 7,
  "dark25-r": 196,
  "dark25-s": 0,
  "dark25-text": #111111,
  "dark50": #888888,
  "dark50-b": 136,
  "dark50-g": 136,
  "dark50-h": 0,
  "dark50-l": 7,
  "dark50-r": 136,
  "dark50-s": 0,
  "dark50-text": #ffffff,
  "dark75": #4d4d4d,
  "dark75-b": 77,
  "dark75-g": 77,
  "dark75-h": 0,
  "dark75-l": 7,
  "dark75-r": 77,
  "dark75-s": 0,
  "dark75-text": #ffffff,
  "dark90": #292929,
  "dark90-b": 41,
  "dark90-g": 41,
  "dark90-h": 0,
  "dark90-l": 7,
  "dark90-r": 41,
  "dark90-s": 0,
  "dark90-text": #ffffff,
  "error": #fc1b1c,
  "error-b": 28,
  "error-g": 27,
  "error-h": 0,
  "error-l": 55,
  "error-r": 252,
  "error-s": 98,
  "error-text": #ffffff,
  "error10": #291212,
  "error10-b": 18,
  "error10-g": 18,
  "error10-h": 0,
  "error10-l": 55,
  "error10-r": 41,
  "error10-s": 98,
  "error10-text": #ffffff,
  "error25": #4c1414,
  "error25-b": 20,
  "error25-g": 20,
  "error25-h": 0,
  "error25-l": 55,
  "error25-r": 76,
  "error25-s": 98,
  "error25-text": #ffffff,
  "error50": #871617,
  "error50-b": 23,
  "error50-g": 22,
  "error50-h": 0,
  "error50-l": 55,
  "error50-r": 135,
  "error50-s": 98,
  "error50-text": #ffffff,
  "error75": #c11919,
  "error75-b": 25,
  "error75-g": 25,
  "error75-h": 0,
  "error75-l": 55,
  "error75-r": 193,
  "error75-s": 98,
  "error75-text": #ffffff,
  "error90": #e51a1b,
  "error90-b": 27,
  "error90-g": 26,
  "error90-h": 0,
  "error90-l": 55,
  "error90-r": 229,
  "error90-s": 98,
  "error90-text": #ffffff,
  "foreground": #ffffff,
  "foreground-b": 255,
  "foreground-g": 255,
  "foreground-h": 0,
  "foreground-l": 100,
  "foreground-r": 255,
  "foreground-s": 0,
  "foreground-text": #111111,
  "foreground10": #e7e7e7,
  "foreground10-b": 231,
  "foreground10-g": 231,
  "foreground10-h": 0,
  "foreground10-l": 100,
  "foreground10-r": 231,
  "foreground10-s": 0,
  "foreground10-text": #111111,
  "foreground25": #c4c4c4,
  "foreground25-b": 196,
  "foreground25-g": 196,
  "foreground25-h": 0,
  "foreground25-l": 100,
  "foreground25-r": 196,
  "foreground25-s": 0,
  "foreground25-text": #111111,
  "foreground50": #888888,
  "foreground50-b": 136,
  "foreground50-g": 136,
  "foreground50-h": 0,
  "foreground50-l": 100,
  "foreground50-r": 136,
  "foreground50-s": 0,
  "foreground50-text": #ffffff,
  "foreground75": #4d4d4d,
  "foreground75-b": 77,
  "foreground75-g": 77,
  "foreground75-h": 0,
  "foreground75-l": 100,
  "foreground75-r": 77,
  "foreground75-s": 0,
  "foreground75-text": #ffffff,
  "foreground90": #292929,
  "foreground90-b": 41,
  "foreground90-g": 41,
  "foreground90-h": 0,
  "foreground90-l": 100,
  "foreground90-r": 41,
  "foreground90-s": 0,
  "foreground90-text": #ffffff,
  "info": #7abffc,
  "info-b": 252,
  "info-g": 191,
  "info-h": 208,
  "info-l": 74,
  "info-r": 122,
  "info-s": 96,
  "info-text": #111111,
  "info10": #1c2229,
  "info10-b": 41,
  "info10-g": 34,
  "info10-h": 208,
  "info10-l": 74,
  "info10-r": 28,
  "info10-s": 96,
  "info10-text": #ffffff,
  "info25": #2b3d4c,
  "info25-b": 76,
  "info25-g": 61,
  "info25-h": 208,
  "info25-l": 74,
  "info25-r": 43,
  "info25-s": 96,
  "info25-text": #ffffff,
  "info50": #466887,
  "info50-b": 135,
  "info50-g": 104,
  "info50-h": 208,
  "info50-l": 74,
  "info50-r": 70,
  "info50-s": 96,
  "info50-text": #ffffff,
  "info75": #6094c1,
  "info75-b": 193,
  "info75-g": 148,
  "info75-h": 208,
  "info75-l": 74,
  "info75-r": 96,
  "info75-s": 96,
  "info75-text": #ffffff,
  "info90": #70aee5,
  "info90-b": 229,
  "info90-g": 174,
  "info90-h": 208,
  "info90-l": 74,
  "info90-r": 112,
  "info90-s": 96,
  "info90-text": #111111,
  "light": #ffffff,
  "light-b": 255,
  "light-g": 255,
  "light-h": 0,
  "light-l": 100,
  "light-r": 255,
  "light-s": 0,
  "light-text": #111111,
  "light10": #292929,
  "light10-b": 41,
  "light10-g": 41,
  "light10-h": 0,
  "light10-l": 100,
  "light10-r": 41,
  "light10-s": 0,
  "light10-text": #ffffff,
  "light25": #4d4d4d,
  "light25-b": 77,
  "light25-g": 77,
  "light25-h": 0,
  "light25-l": 100,
  "light25-r": 77,
  "light25-s": 0,
  "light25-text": #ffffff,
  "light50": #888888,
  "light50-b": 136,
  "light50-g": 136,
  "light50-h": 0,
  "light50-l": 100,
  "light50-r": 136,
  "light50-s": 0,
  "light50-text": #ffffff,
  "light75": #c4c4c4,
  "light75-b": 196,
  "light75-g": 196,
  "light75-h": 0,
  "light75-l": 100,
  "light75-r": 196,
  "light75-s": 0,
  "light75-text": #111111,
  "light90": #e7e7e7,
  "light90-b": 231,
  "light90-g": 231,
  "light90-h": 0,
  "light90-l": 100,
  "light90-r": 231,
  "light90-s": 0,
  "light90-text": #111111,
  "primary": #01eeff,
  "primary-b": 255,
  "primary-g": 238,
  "primary-h": 184,
  "primary-l": 50,
  "primary-r": 1,
  "primary-s": 100,
  "primary-text": #111111,
  "primary10": #0f2729,
  "primary10-b": 41,
  "primary10-g": 39,
  "primary10-h": 184,
  "primary10-l": 50,
  "primary10-r": 15,
  "primary10-s": 100,
  "primary10-text": #ffffff,
  "primary25": #0d484d,
  "primary25-b": 77,
  "primary25-g": 72,
  "primary25-h": 184,
  "primary25-l": 50,
  "primary25-r": 13,
  "primary25-s": 100,
  "primary25-text": #ffffff,
  "primary50": #098088,
  "primary50-b": 136,
  "primary50-g": 128,
  "primary50-h": 184,
  "primary50-l": 50,
  "primary50-r": 9,
  "primary50-s": 100,
  "primary50-text": #ffffff,
  "primary75": #05b7c4,
  "primary75-b": 196,
  "primary75-g": 183,
  "primary75-h": 184,
  "primary75-l": 50,
  "primary75-r": 5,
  "primary75-s": 100,
  "primary75-text": #111111,
  "primary90": #03d8e7,
  "primary90-b": 231,
  "primary90-g": 216,
  "primary90-h": 184,
  "primary90-l": 50,
  "primary90-r": 3,
  "primary90-s": 100,
  "primary90-text": #111111,
  "secondary": #f7166c,
  "secondary-b": 108,
  "secondary-g": 22,
  "secondary-h": 338,
  "secondary-l": 53,
  "secondary-r": 247,
  "secondary-s": 94,
  "secondary-text": #ffffff,
  "secondary10": #28121a,
  "secondary10-b": 26,
  "secondary10-g": 18,
  "secondary10-h": 338,
  "secondary10-l": 53,
  "secondary10-r": 40,
  "secondary10-s": 94,
  "secondary10-text": #ffffff,
  "secondary25": #4b1228,
  "secondary25-b": 40,
  "secondary25-g": 18,
  "secondary25-h": 338,
  "secondary25-l": 53,
  "secondary25-r": 75,
  "secondary25-s": 94,
  "secondary25-text": #ffffff,
  "secondary50": #84143f,
  "secondary50-b": 63,
  "secondary50-g": 20,
  "secondary50-h": 338,
  "secondary50-l": 53,
  "secondary50-r": 132,
  "secondary50-s": 94,
  "secondary50-text": #ffffff,
  "secondary75": #be1555,
  "secondary75-b": 85,
  "secondary75-g": 21,
  "secondary75-h": 338,
  "secondary75-l": 53,
  "secondary75-r": 190,
  "secondary75-s": 94,
  "secondary75-text": #ffffff,
  "secondary90": #e01663,
  "secondary90-b": 99,
  "secondary90-g": 22,
  "secondary90-h": 338,
  "secondary90-l": 53,
  "secondary90-r": 224,
  "secondary90-s": 94,
  "secondary90-text": #ffffff,
  "success": #54d577,
  "success-b": 119,
  "success-g": 213,
  "success-h": 136,
  "success-l": 59,
  "success-r": 84,
  "success-s": 61,
  "success-text": #111111,
  "success10": #18251b,
  "success10-b": 27,
  "success10-g": 37,
  "success10-h": 136,
  "success10-l": 59,
  "success10-r": 24,
  "success10-s": 61,
  "success10-text": #ffffff,
  "success25": #22422b,
  "success25-b": 43,
  "success25-g": 66,
  "success25-h": 136,
  "success25-l": 59,
  "success25-r": 34,
  "success25-s": 61,
  "success25-text": #ffffff,
  "success50": #337344,
  "success50-b": 68,
  "success50-g": 115,
  "success50-h": 136,
  "success50-l": 59,
  "success50-r": 51,
  "success50-s": 61,
  "success50-text": #ffffff,
  "success75": #43a45e,
  "success75-b": 94,
  "success75-g": 164,
  "success75-h": 136,
  "success75-l": 59,
  "success75-r": 67,
  "success75-s": 61,
  "success75-text": #ffffff,
  "success90": #4dc16d,
  "success90-b": 109,
  "success90-g": 193,
  "success90-h": 136,
  "success90-l": 59,
  "success90-r": 77,
  "success90-s": 61,
  "success90-text": #111111,
  "tertiary": #6a2ef7,
  "tertiary-b": 247,
  "tertiary-g": 46,
  "tertiary-h": 258,
  "tertiary-l": 57,
  "tertiary-r": 106,
  "tertiary-s": 93,
  "tertiary-text": #ffffff,
  "tertiary10": #1a1428,
  "tertiary10-b": 40,
  "tertiary10-g": 20,
  "tertiary10-h": 258,
  "tertiary10-l": 57,
  "tertiary10-r": 26,
  "tertiary10-s": 93,
  "tertiary10-text": #ffffff,
  "tertiary25": #27184b,
  "tertiary25-b": 75,
  "tertiary25-g": 24,
  "tertiary25-h": 258,
  "tertiary25-l": 57,
  "tertiary25-r": 39,
  "tertiary25-s": 93,
  "tertiary25-text": #ffffff,
  "tertiary50": #3e2084,
  "tertiary50-b": 132,
  "tertiary50-g": 32,
  "tertiary50-h": 258,
  "tertiary50-l": 57,
  "tertiary50-r": 62,
  "tertiary50-s": 93,
  "tertiary50-text": #ffffff,
  "tertiary75": #5427be,
  "tertiary75-b": 190,
  "tertiary75-g": 39,
  "tertiary75-h": 258,
  "tertiary75-l": 57,
  "tertiary75-r": 84,
  "tertiary75-s": 93,
  "tertiary75-text": #ffffff,
  "tertiary90": #612be0,
  "tertiary90-b": 224,
  "tertiary90-g": 43,
  "tertiary90-h": 258,
  "tertiary90-l": 57,
  "tertiary90-r": 97,
  "tertiary90-s": 93,
  "tertiary90-text": #ffffff,
  "warning": #fd8324,
  "warning-b": 36,
  "warning-g": 131,
  "warning-h": 26,
  "warning-l": 56,
  "warning-r": 253,
  "warning-s": 98,
  "warning-text": #111111,
  "warning10": #291c13,
  "warning10-b": 19,
  "warning10-g": 28,
  "warning10-h": 26,
  "warning10-l": 56,
  "warning10-r": 41,
  "warning10-s": 98,
  "warning10-text": #ffffff,
  "warning25": #4c2e16,
  "warning25-b": 22,
  "warning25-g": 46,
  "warning25-h": 26,
  "warning25-l": 56,
  "warning25-r": 76,
  "warning25-s": 98,
  "warning25-text": #ffffff,
  "warning50": #874a1b,
  "warning50-b": 27,
  "warning50-g": 74,
  "warning50-h": 26,
  "warning50-l": 56,
  "warning50-r": 135,
  "warning50-s": 98,
  "warning50-text": #ffffff,
  "warning75": #c2661f,
  "warning75-b": 31,
  "warning75-g": 102,
  "warning75-h": 26,
  "warning75-l": 56,
  "warning75-r": 194,
  "warning75-s": 98,
  "warning75-text": #ffffff,
  "warning90": #e57822,
  "warning90-b": 34,
  "warning90-g": 120,
  "warning90-h": 26,
  "warning90-l": 56,
  "warning90-r": 229,
  "warning90-s": 98,
  "warning90-text": #111111,
);
$lightmode-colors: (
  "background": #ffffff,
  "background-b": 255,
  "background-g": 255,
  "background-h": 0,
  "background-l": 100,
  "background-r": 255,
  "background-s": 0,
  "background-text": #111111,
  "background10": #e7e7e7,
  "background10-b": 231,
  "background10-g": 231,
  "background10-h": 0,
  "background10-l": 100,
  "background10-r": 231,
  "background10-s": 0,
  "background10-text": #111111,
  "background25": #c4c4c4,
  "background25-b": 196,
  "background25-g": 196,
  "background25-h": 0,
  "background25-l": 100,
  "background25-r": 196,
  "background25-s": 0,
  "background25-text": #111111,
  "background50": #888888,
  "background50-b": 136,
  "background50-g": 136,
  "background50-h": 0,
  "background50-l": 100,
  "background50-r": 136,
  "background50-s": 0,
  "background50-text": #ffffff,
  "background75": #4d4d4d,
  "background75-b": 77,
  "background75-g": 77,
  "background75-h": 0,
  "background75-l": 100,
  "background75-r": 77,
  "background75-s": 0,
  "background75-text": #ffffff,
  "background90": #292929,
  "background90-b": 41,
  "background90-g": 41,
  "background90-h": 0,
  "background90-l": 100,
  "background90-r": 41,
  "background90-s": 0,
  "background90-text": #ffffff,
  "caution": #fed02f,
  "caution-b": 47,
  "caution-g": 208,
  "caution-h": 47,
  "caution-l": 59,
  "caution-r": 254,
  "caution-s": 100,
  "caution-text": #111111,
  "caution10": #fffaea,
  "caution10-b": 234,
  "caution10-g": 250,
  "caution10-h": 47,
  "caution10-l": 59,
  "caution10-r": 255,
  "caution10-s": 100,
  "caution10-text": #111111,
  "caution25": #fff3cb,
  "caution25-b": 203,
  "caution25-g": 243,
  "caution25-h": 47,
  "caution25-l": 59,
  "caution25-r": 255,
  "caution25-s": 100,
  "caution25-text": #111111,
  "caution50": #ffe897,
  "caution50-b": 151,
  "caution50-g": 232,
  "caution50-h": 47,
  "caution50-l": 59,
  "caution50-r": 255,
  "caution50-s": 100,
  "caution50-text": #111111,
  "caution75": #fedc63,
  "caution75-b": 99,
  "caution75-g": 220,
  "caution75-h": 47,
  "caution75-l": 59,
  "caution75-r": 254,
  "caution75-s": 100,
  "caution75-text": #111111,
  "caution90": #fed544,
  "caution90-b": 68,
  "caution90-g": 213,
  "caution90-h": 47,
  "caution90-l": 59,
  "caution90-r": 254,
  "caution90-s": 100,
  "caution90-text": #111111,
  "dark": #111111,
  "dark-b": 17,
  "dark-g": 17,
  "dark-h": 0,
  "dark-l": 7,
  "dark-r": 17,
  "dark-s": 0,
  "dark-text": #ffffff,
  "dark10": #e7e7e7,
  "dark10-b": 231,
  "dark10-g": 231,
  "dark10-h": 0,
  "dark10-l": 7,
  "dark10-r": 231,
  "dark10-s": 0,
  "dark10-text": #111111,
  "dark25": #c4c4c4,
  "dark25-b": 196,
  "dark25-g": 196,
  "dark25-h": 0,
  "dark25-l": 7,
  "dark25-r": 196,
  "dark25-s": 0,
  "dark25-text": #111111,
  "dark50": #888888,
  "dark50-b": 136,
  "dark50-g": 136,
  "dark50-h": 0,
  "dark50-l": 7,
  "dark50-r": 136,
  "dark50-s": 0,
  "dark50-text": #ffffff,
  "dark75": #4d4d4d,
  "dark75-b": 77,
  "dark75-g": 77,
  "dark75-h": 0,
  "dark75-l": 7,
  "dark75-r": 77,
  "dark75-s": 0,
  "dark75-text": #ffffff,
  "dark90": #292929,
  "dark90-b": 41,
  "dark90-g": 41,
  "dark90-h": 0,
  "dark90-l": 7,
  "dark90-r": 41,
  "dark90-s": 0,
  "dark90-text": #ffffff,
  "error": #fc1b1c,
  "error-b": 28,
  "error-g": 27,
  "error-h": 0,
  "error-l": 55,
  "error-r": 252,
  "error-s": 98,
  "error-text": #ffffff,
  "error10": #ffe8e8,
  "error10-b": 232,
  "error10-g": 232,
  "error10-h": 0,
  "error10-l": 55,
  "error10-r": 255,
  "error10-s": 98,
  "error10-text": #111111,
  "error25": #fec6c6,
  "error25-b": 198,
  "error25-g": 198,
  "error25-h": 0,
  "error25-l": 55,
  "error25-r": 254,
  "error25-s": 98,
  "error25-text": #111111,
  "error50": #fe8d8e,
  "error50-b": 142,
  "error50-g": 141,
  "error50-h": 0,
  "error50-l": 55,
  "error50-r": 254,
  "error50-s": 98,
  "error50-text": #111111,
  "error75": #fd5455,
  "error75-b": 85,
  "error75-g": 84,
  "error75-h": 0,
  "error75-l": 55,
  "error75-r": 253,
  "error75-s": 98,
  "error75-text": #111111,
  "error90": #fc3233,
  "error90-b": 51,
  "error90-g": 50,
  "error90-h": 0,
  "error90-l": 55,
  "error90-r": 252,
  "error90-s": 98,
  "error90-text": #ffffff,
  "foreground": #111111,
  "foreground-b": 17,
  "foreground-g": 17,
  "foreground-h": 0,
  "foreground-l": 7,
  "foreground-r": 17,
  "foreground-s": 0,
  "foreground-text": #ffffff,
  "foreground10": #292929,
  "foreground10-b": 41,
  "foreground10-g": 41,
  "foreground10-h": 0,
  "foreground10-l": 7,
  "foreground10-r": 41,
  "foreground10-s": 0,
  "foreground10-text": #ffffff,
  "foreground25": #4d4d4d,
  "foreground25-b": 77,
  "foreground25-g": 77,
  "foreground25-h": 0,
  "foreground25-l": 7,
  "foreground25-r": 77,
  "foreground25-s": 0,
  "foreground25-text": #ffffff,
  "foreground50": #888888,
  "foreground50-b": 136,
  "foreground50-g": 136,
  "foreground50-h": 0,
  "foreground50-l": 7,
  "foreground50-r": 136,
  "foreground50-s": 0,
  "foreground50-text": #ffffff,
  "foreground75": #c4c4c4,
  "foreground75-b": 196,
  "foreground75-g": 196,
  "foreground75-h": 0,
  "foreground75-l": 7,
  "foreground75-r": 196,
  "foreground75-s": 0,
  "foreground75-text": #111111,
  "foreground90": #e7e7e7,
  "foreground90-b": 231,
  "foreground90-g": 231,
  "foreground90-h": 0,
  "foreground90-l": 7,
  "foreground90-r": 231,
  "foreground90-s": 0,
  "foreground90-text": #111111,
  "info": #7abffc,
  "info-b": 252,
  "info-g": 191,
  "info-h": 208,
  "info-l": 74,
  "info-r": 122,
  "info-s": 96,
  "info-text": #111111,
  "info10": #f2f9ff,
  "info10-b": 255,
  "info10-g": 249,
  "info10-h": 208,
  "info10-l": 74,
  "info10-r": 242,
  "info10-s": 96,
  "info10-text": #111111,
  "info25": #deeffe,
  "info25-b": 254,
  "info25-g": 239,
  "info25-h": 208,
  "info25-l": 74,
  "info25-r": 222,
  "info25-s": 96,
  "info25-text": #111111,
  "info50": #bddffe,
  "info50-b": 254,
  "info50-g": 223,
  "info50-h": 208,
  "info50-l": 74,
  "info50-r": 189,
  "info50-s": 96,
  "info50-text": #111111,
  "info75": #9bcffd,
  "info75-b": 253,
  "info75-g": 207,
  "info75-h": 208,
  "info75-l": 74,
  "info75-r": 155,
  "info75-s": 96,
  "info75-text": #111111,
  "info90": #87c5fc,
  "info90-b": 252,
  "info90-g": 197,
  "info90-h": 208,
  "info90-l": 74,
  "info90-r": 135,
  "info90-s": 96,
  "info90-text": #111111,
  "light": #ffffff,
  "light-b": 255,
  "light-g": 255,
  "light-h": 0,
  "light-l": 100,
  "light-r": 255,
  "light-s": 0,
  "light-text": #111111,
  "light10": #292929,
  "light10-b": 41,
  "light10-g": 41,
  "light10-h": 0,
  "light10-l": 100,
  "light10-r": 41,
  "light10-s": 0,
  "light10-text": #ffffff,
  "light25": #4d4d4d,
  "light25-b": 77,
  "light25-g": 77,
  "light25-h": 0,
  "light25-l": 100,
  "light25-r": 77,
  "light25-s": 0,
  "light25-text": #ffffff,
  "light50": #888888,
  "light50-b": 136,
  "light50-g": 136,
  "light50-h": 0,
  "light50-l": 100,
  "light50-r": 136,
  "light50-s": 0,
  "light50-text": #ffffff,
  "light75": #c4c4c4,
  "light75-b": 196,
  "light75-g": 196,
  "light75-h": 0,
  "light75-l": 100,
  "light75-r": 196,
  "light75-s": 0,
  "light75-text": #111111,
  "light90": #e7e7e7,
  "light90-b": 231,
  "light90-g": 231,
  "light90-h": 0,
  "light90-l": 100,
  "light90-r": 231,
  "light90-s": 0,
  "light90-text": #111111,
  "primary": #01eeff,
  "primary-b": 255,
  "primary-g": 238,
  "primary-h": 184,
  "primary-l": 50,
  "primary-r": 1,
  "primary-s": 100,
  "primary-text": #111111,
  "primary10": #e6fdff,
  "primary10-b": 255,
  "primary10-g": 253,
  "primary10-h": 184,
  "primary10-l": 50,
  "primary10-r": 230,
  "primary10-s": 100,
  "primary10-text": #111111,
  "primary25": #c0fbff,
  "primary25-b": 255,
  "primary25-g": 251,
  "primary25-h": 184,
  "primary25-l": 50,
  "primary25-r": 192,
  "primary25-s": 100,
  "primary25-text": #111111,
  "primary50": #80f7ff,
  "primary50-b": 255,
  "primary50-g": 247,
  "primary50-h": 184,
  "primary50-l": 50,
  "primary50-r": 128,
  "primary50-s": 100,
  "primary50-text": #111111,
  "primary75": #41f2ff,
  "primary75-b": 255,
  "primary75-g": 242,
  "primary75-h": 184,
  "primary75-l": 50,
  "primary75-r": 65,
  "primary75-s": 100,
  "primary75-text": #111111,
  "primary90": #1af0ff,
  "primary90-b": 255,
  "primary90-g": 240,
  "primary90-h": 184,
  "primary90-l": 50,
  "primary90-r": 26,
  "primary90-s": 100,
  "primary90-text": #111111,
  "secondary": #f7166c,
  "secondary-b": 108,
  "secondary-g": 22,
  "secondary-h": 338,
  "secondary-l": 53,
  "secondary-r": 247,
  "secondary-s": 94,
  "secondary-text": #ffffff,
  "secondary10": #fee8f0,
  "secondary10-b": 240,
  "secondary10-g": 232,
  "secondary10-h": 338,
  "secondary10-l": 53,
  "secondary10-r": 254,
  "secondary10-s": 94,
  "secondary10-text": #111111,
  "secondary25": #fdc5da,
  "secondary25-b": 218,
  "secondary25-g": 197,
  "secondary25-h": 338,
  "secondary25-l": 53,
  "secondary25-r": 253,
  "secondary25-s": 94,
  "secondary25-text": #111111,
  "secondary50": #fb8bb6,
  "secondary50-b": 182,
  "secondary50-g": 139,
  "secondary50-h": 338,
  "secondary50-l": 53,
  "secondary50-r": 251,
  "secondary50-s": 94,
  "secondary50-text": #111111,
  "secondary75": #f95091,
  "secondary75-b": 145,
  "secondary75-g": 80,
  "secondary75-h": 338,
  "secondary75-l": 53,
  "secondary75-r": 249,
  "secondary75-s": 94,
  "secondary75-text": #111111,
  "secondary90": #f82d7b,
  "secondary90-b": 123,
  "secondary90-g": 45,
  "secondary90-h": 338,
  "secondary90-l": 53,
  "secondary90-r": 248,
  "secondary90-s": 94,
  "secondary90-text": #ffffff,
  "success": #54d577,
  "success-b": 119,
  "success-g": 213,
  "success-h": 136,
  "success-l": 59,
  "success-r": 84,
  "success-s": 61,
  "success-text": #111111,
  "success10": #eefbf1,
  "success10-b": 241,
  "success10-g": 251,
  "success10-h": 136,
  "success10-l": 59,
  "success10-r": 238,
  "success10-s": 61,
  "success10-text": #111111,
  "success25": #d4f5dd,
  "success25-b": 221,
  "success25-g": 245,
  "success25-h": 136,
  "success25-l": 59,
  "success25-r": 212,
  "success25-s": 61,
  "success25-text": #111111,
  "success50": #aaeabb,
  "success50-b": 187,
  "success50-g": 234,
  "success50-h": 136,
  "success50-l": 59,
  "success50-r": 170,
  "success50-s": 61,
  "success50-text": #111111,
  "success75": #7fe099,
  "success75-b": 153,
  "success75-g": 224,
  "success75-h": 136,
  "success75-l": 59,
  "success75-r": 127,
  "success75-s": 61,
  "success75-text": #111111,
  "success90": #65d985,
  "success90-b": 133,
  "success90-g": 217,
  "success90-h": 136,
  "success90-l": 59,
  "success90-r": 101,
  "success90-s": 61,
  "success90-text": #111111,
  "tertiary": #6a2ef7,
  "tertiary-b": 247,
  "tertiary-g": 46,
  "tertiary-h": 258,
  "tertiary-l": 57,
  "tertiary-r": 106,
  "tertiary-s": 93,
  "tertiary-text": #ffffff,
  "tertiary10": #f0eafe,
  "tertiary10-b": 254,
  "tertiary10-g": 234,
  "tertiary10-h": 258,
  "tertiary10-l": 57,
  "tertiary10-r": 240,
  "tertiary10-s": 93,
  "tertiary10-text": #111111,
  "tertiary25": #dacbfd,
  "tertiary25-b": 253,
  "tertiary25-g": 203,
  "tertiary25-h": 258,
  "tertiary25-l": 57,
  "tertiary25-r": 218,
  "tertiary25-s": 93,
  "tertiary25-text": #111111,
  "tertiary50": #b597fb,
  "tertiary50-b": 251,
  "tertiary50-g": 151,
  "tertiary50-h": 258,
  "tertiary50-l": 57,
  "tertiary50-r": 181,
  "tertiary50-s": 93,
  "tertiary50-text": #111111,
  "tertiary75": #8f62f9,
  "tertiary75-b": 249,
  "tertiary75-g": 98,
  "tertiary75-h": 258,
  "tertiary75-l": 57,
  "tertiary75-r": 143,
  "tertiary75-s": 93,
  "tertiary75-text": #ffffff,
  "tertiary90": #7943f8,
  "tertiary90-b": 248,
  "tertiary90-g": 67,
  "tertiary90-h": 258,
  "tertiary90-l": 57,
  "tertiary90-r": 121,
  "tertiary90-s": 93,
  "tertiary90-text": #ffffff,
  "warning": #fd8324,
  "warning-b": 36,
  "warning-g": 131,
  "warning-h": 26,
  "warning-l": 56,
  "warning-r": 253,
  "warning-s": 98,
  "warning-text": #111111,
  "warning10": #fff3e9,
  "warning10-b": 233,
  "warning10-g": 243,
  "warning10-h": 26,
  "warning10-l": 56,
  "warning10-r": 255,
  "warning10-s": 98,
  "warning10-text": #111111,
  "warning25": #ffe0c8,
  "warning25-b": 200,
  "warning25-g": 224,
  "warning25-h": 26,
  "warning25-l": 56,
  "warning25-r": 255,
  "warning25-s": 98,
  "warning25-text": #111111,
  "warning50": #fec192,
  "warning50-b": 146,
  "warning50-g": 193,
  "warning50-h": 26,
  "warning50-l": 56,
  "warning50-r": 254,
  "warning50-s": 98,
  "warning50-text": #111111,
  "warning75": #fea25b,
  "warning75-b": 91,
  "warning75-g": 162,
  "warning75-h": 26,
  "warning75-l": 56,
  "warning75-r": 254,
  "warning75-s": 98,
  "warning75-text": #111111,
  "warning90": #fd8f3a,
  "warning90-b": 58,
  "warning90-g": 143,
  "warning90-h": 26,
  "warning90-l": 56,
  "warning90-r": 253,
  "warning90-s": 98,
  "warning90-text": #111111,
);
$theme-settings: (
  "prefix": "my-project",
  "styleOutput": true,
  "classBasedProperties": true,
  "generateBase": true,
  "generateTypography": true,
  "generateColors": true,
  "generateColorModes": true,
  "colorModes": true,
  "colorShades": true,
  "colorPercentages": false,
  "colorSteps": (
    10,
    25,
    50,
    75,
    90,
  ),
  "colorText": true,
  "breakpointNames": (
    small,
    medium,
    large,
  ),
  "breakpointSizes": (
    0,
    720,
    1200,
  ),
);
$theme-base: (
  "borderRadius": 0.25rem,
  "shadow": 0 3px 4px 0 rgba(0, 0, 0, 0.1),
  "space-xl": max(calc(100vw / 12), 4em),
  "space-l": max(calc(100vw / 18), 3em),
  "space": max(calc(100vw / 24), 2em),
  "space-s": max(calc(100vw / 48), 1em),
  "space-xs": max(calc(100vw / 96), 0.5em),
  "transition": 0.3s ease-in-out,
);
$theme-typography: (
  "primaryFontFamily": $primaryFontFamily,
  "secondaryFontFamily": $secondaryFontFamily,
  "baseSize": 16px,
  "thinWeight": 100,
  "lightWeight": 300,
  "normalWeight": 400,
  "mediumWeight": 500,
  "boldWeight": 600,
  "heavyWeight": 900,
);
