$theme-colors: (
  "background10": #ffffff,
  "background10-r": 255,
  "background10-g": 255,
  "background10-b": 255,
  "background10Text": #ffffff,
  "background25": #ffffff,
  "background25-r": 255,
  "background25-g": 255,
  "background25-b": 255,
  "background25Text": #ffffff,
  "background50": #ffffff,
  "background50-r": 255,
  "background50-g": 255,
  "background50-b": 255,
  "background50Text": #ffffff,
  "background75": #ffffff,
  "background75-r": 255,
  "background75-g": 255,
  "background75-b": 255,
  "background75Text": #ffffff,
  "background90": #ffffff,
  "background90-r": 255,
  "background90-g": 255,
  "background90-b": 255,
  "background90Text": #ffffff,
  "foreground10": #e7e7e7,
  "foreground10-r": 231,
  "foreground10-g": 231,
  "foreground10-b": 231,
  "foreground10Text": #ffffff,
  "foreground25": #c4c4c4,
  "foreground25-r": 196,
  "foreground25-g": 196,
  "foreground25-b": 196,
  "foreground25Text": #ffffff,
  "foreground50": #888888,
  "foreground50-r": 136,
  "foreground50-g": 136,
  "foreground50-b": 136,
  "foreground50Text": #ffffff,
  "foreground75": #4d4d4d,
  "foreground75-r": 77,
  "foreground75-g": 77,
  "foreground75-b": 77,
  "foreground75Text": #ffffff,
  "foreground90": #292929,
  "foreground90-r": 41,
  "foreground90-g": 41,
  "foreground90-b": 41,
  "foreground90Text": #ffffff,
  "primary10": #e6fdff,
  "primary10-r": 230,
  "primary10-g": 253,
  "primary10-b": 255,
  "primary10Text": #ffffff,
  "primary25": #c0fbff,
  "primary25-r": 192,
  "primary25-g": 251,
  "primary25-b": 255,
  "primary25Text": #ffffff,
  "primary50": #80f7ff,
  "primary50-r": 128,
  "primary50-g": 247,
  "primary50-b": 255,
  "primary50Text": #ffffff,
  "primary75": #41f2ff,
  "primary75-r": 65,
  "primary75-g": 242,
  "primary75-b": 255,
  "primary75Text": #ffffff,
  "primary90": #1af0ff,
  "primary90-r": 26,
  "primary90-g": 240,
  "primary90-b": 255,
  "primary90Text": #ffffff,
  "secondary10": #fee8f0,
  "secondary10-r": 254,
  "secondary10-g": 232,
  "secondary10-b": 240,
  "secondary10Text": #ffffff,
  "secondary25": #fdc5da,
  "secondary25-r": 253,
  "secondary25-g": 197,
  "secondary25-b": 218,
  "secondary25Text": #ffffff,
  "secondary50": #fb8bb6,
  "secondary50-r": 251,
  "secondary50-g": 139,
  "secondary50-b": 182,
  "secondary50Text": #ffffff,
  "secondary75": #f95091,
  "secondary75-r": 249,
  "secondary75-g": 80,
  "secondary75-b": 145,
  "secondary75Text": #ffffff,
  "secondary90": #f82d7b,
  "secondary90-r": 248,
  "secondary90-g": 45,
  "secondary90-b": 123,
  "secondary90Text": #ffffff,
  "tertiary10": #f0eafe,
  "tertiary10-r": 240,
  "tertiary10-g": 234,
  "tertiary10-b": 254,
  "tertiary10Text": #ffffff,
  "tertiary25": #dacbfd,
  "tertiary25-r": 218,
  "tertiary25-g": 203,
  "tertiary25-b": 253,
  "tertiary25Text": #ffffff,
  "tertiary50": #b597fb,
  "tertiary50-r": 181,
  "tertiary50-g": 151,
  "tertiary50-b": 251,
  "tertiary50Text": #ffffff,
  "tertiary75": #8f62f9,
  "tertiary75-r": 143,
  "tertiary75-g": 98,
  "tertiary75-b": 249,
  "tertiary75Text": #ffffff,
  "tertiary90": #7943f8,
  "tertiary90-r": 121,
  "tertiary90-g": 67,
  "tertiary90-b": 248,
  "tertiary90Text": #ffffff,
  "caution10": #ffffe6,
  "caution10-r": 255,
  "caution10-g": 255,
  "caution10-b": 230,
  "caution10Text": #ffffff,
  "caution25": #ffffbf,
  "caution25-r": 255,
  "caution25-g": 255,
  "caution25-b": 191,
  "caution25Text": #ffffff,
  "caution50": #ffff80,
  "caution50-r": 255,
  "caution50-g": 255,
  "caution50-b": 128,
  "caution50Text": #ffffff,
  "caution75": #ffff40,
  "caution75-r": 255,
  "caution75-g": 255,
  "caution75-b": 64,
  "caution75Text": #ffffff,
  "caution90": #ffff1a,
  "caution90-r": 255,
  "caution90-g": 255,
  "caution90-b": 26,
  "caution90Text": #ffffff,
  "warning10": #fff7e6,
  "warning10-r": 255,
  "warning10-g": 247,
  "warning10-b": 230,
  "warning10Text": #ffffff,
  "warning25": #ffeabf,
  "warning25-r": 255,
  "warning25-g": 234,
  "warning25-b": 191,
  "warning25Text": #ffffff,
  "warning50": #ffd580,
  "warning50-r": 255,
  "warning50-g": 213,
  "warning50-b": 128,
  "warning50Text": #ffffff,
  "warning75": #ffbf40,
  "warning75-r": 255,
  "warning75-g": 191,
  "warning75-b": 64,
  "warning75Text": #ffffff,
  "warning90": #ffb31a,
  "warning90-r": 255,
  "warning90-g": 179,
  "warning90-b": 26,
  "warning90Text": #ffffff,
  "error10": #ffe6e6,
  "error10-r": 255,
  "error10-g": 230,
  "error10-b": 230,
  "error10Text": #ffffff,
  "error25": #ffbfbf,
  "error25-r": 255,
  "error25-g": 191,
  "error25-b": 191,
  "error25Text": #ffffff,
  "error50": #ff8080,
  "error50-r": 255,
  "error50-g": 128,
  "error50-b": 128,
  "error50Text": #ffffff,
  "error75": #ff4040,
  "error75-r": 255,
  "error75-g": 64,
  "error75-b": 64,
  "error75Text": #ffffff,
  "error90": #ff1a1a,
  "error90-r": 255,
  "error90-g": 26,
  "error90-b": 26,
  "error90Text": #ffffff,
  "info10": #e6e6ff,
  "info10-r": 230,
  "info10-g": 230,
  "info10-b": 255,
  "info10Text": #ffffff,
  "info25": #bfbfff,
  "info25-r": 191,
  "info25-g": 191,
  "info25-b": 255,
  "info25Text": #ffffff,
  "info50": #8080ff,
  "info50-r": 128,
  "info50-g": 128,
  "info50-b": 255,
  "info50Text": #ffffff,
  "info75": #4040ff,
  "info75-r": 64,
  "info75-g": 64,
  "info75-b": 255,
  "info75Text": #ffffff,
  "info90": #1a1aff,
  "info90-r": 26,
  "info90-g": 26,
  "info90-b": 255,
  "info90Text": #ffffff,
  "success10": #e6ffe6,
  "success10-r": 230,
  "success10-g": 255,
  "success10-b": 230,
  "success10Text": #ffffff,
  "success25": #bfffbf,
  "success25-r": 191,
  "success25-g": 255,
  "success25-b": 191,
  "success25Text": #ffffff,
  "success50": #80ff80,
  "success50-r": 128,
  "success50-g": 255,
  "success50-b": 128,
  "success50Text": #ffffff,
  "success75": #40ff40,
  "success75-r": 64,
  "success75-g": 255,
  "success75-b": 64,
  "success75Text": #ffffff,
  "success90": #1aff1a,
  "success90-r": 26,
  "success90-g": 255,
  "success90-b": 26,
  "success90Text": #ffffff,
  "dark10": #ffffff,
  "dark10-r": 255,
  "dark10-g": 255,
  "dark10-b": 255,
  "dark10Text": #ffffff,
  "dark25": #ffffff,
  "dark25-r": 255,
  "dark25-g": 255,
  "dark25-b": 255,
  "dark25Text": #ffffff,
  "dark50": #ffffff,
  "dark50-r": 255,
  "dark50-g": 255,
  "dark50-b": 255,
  "dark50Text": #ffffff,
  "dark75": #ffffff,
  "dark75-r": 255,
  "dark75-g": 255,
  "dark75-b": 255,
  "dark75Text": #ffffff,
  "dark90": #ffffff,
  "dark90-r": 255,
  "dark90-g": 255,
  "dark90-b": 255,
  "dark90Text": #ffffff,
  "light10": #ffffff,
  "light10-r": 255,
  "light10-g": 255,
  "light10-b": 255,
  "light10Text": #ffffff,
  "light25": #ffffff,
  "light25-r": 255,
  "light25-g": 255,
  "light25-b": 255,
  "light25Text": #ffffff,
  "light50": #ffffff,
  "light50-r": 255,
  "light50-g": 255,
  "light50-b": 255,
  "light50Text": #ffffff,
  "light75": #ffffff,
  "light75-r": 255,
  "light75-g": 255,
  "light75-b": 255,
  "light75Text": #ffffff,
  "light90": #ffffff,
  "light90-r": 255,
  "light90-g": 255,
  "light90-b": 255,
  "light90Text": #ffffff,
  "background": #ffffff,
  "foreground": #111111,
  "primary": #01eeff,
  "secondary": #f7166c,
  "tertiary": #6a2ef7,
  "caution": #ffff00,
  "warning": #ffaa00,
  "error": #ff0000,
  "info": #0000ff,
  "success": #00ff00,
  "dark": #ffffff,
  "light": #ffffff,
);
$darkmode-colors: (
  "background10": #ffffff,
  "background10-r": 255,
  "background10-g": 255,
  "background10-b": 255,
  "background10Text": #ffffff,
  "background25": #ffffff,
  "background25-r": 255,
  "background25-g": 255,
  "background25-b": 255,
  "background25Text": #ffffff,
  "background50": #ffffff,
  "background50-r": 255,
  "background50-g": 255,
  "background50-b": 255,
  "background50Text": #ffffff,
  "background75": #ffffff,
  "background75-r": 255,
  "background75-g": 255,
  "background75-b": 255,
  "background75Text": #ffffff,
  "background90": #ffffff,
  "background90-r": 255,
  "background90-g": 255,
  "background90-b": 255,
  "background90Text": #ffffff,
  "foreground10": #e7e7e7,
  "foreground10-r": 231,
  "foreground10-g": 231,
  "foreground10-b": 231,
  "foreground10Text": #ffffff,
  "foreground25": #c4c4c4,
  "foreground25-r": 196,
  "foreground25-g": 196,
  "foreground25-b": 196,
  "foreground25Text": #ffffff,
  "foreground50": #888888,
  "foreground50-r": 136,
  "foreground50-g": 136,
  "foreground50-b": 136,
  "foreground50Text": #ffffff,
  "foreground75": #4d4d4d,
  "foreground75-r": 77,
  "foreground75-g": 77,
  "foreground75-b": 77,
  "foreground75Text": #ffffff,
  "foreground90": #292929,
  "foreground90-r": 41,
  "foreground90-g": 41,
  "foreground90-b": 41,
  "foreground90Text": #ffffff,
  "primary10": #e6fdff,
  "primary10-r": 230,
  "primary10-g": 253,
  "primary10-b": 255,
  "primary10Text": #ffffff,
  "primary25": #c0fbff,
  "primary25-r": 192,
  "primary25-g": 251,
  "primary25-b": 255,
  "primary25Text": #ffffff,
  "primary50": #80f7ff,
  "primary50-r": 128,
  "primary50-g": 247,
  "primary50-b": 255,
  "primary50Text": #ffffff,
  "primary75": #41f2ff,
  "primary75-r": 65,
  "primary75-g": 242,
  "primary75-b": 255,
  "primary75Text": #ffffff,
  "primary90": #1af0ff,
  "primary90-r": 26,
  "primary90-g": 240,
  "primary90-b": 255,
  "primary90Text": #ffffff,
  "secondary10": #fee8f0,
  "secondary10-r": 254,
  "secondary10-g": 232,
  "secondary10-b": 240,
  "secondary10Text": #ffffff,
  "secondary25": #fdc5da,
  "secondary25-r": 253,
  "secondary25-g": 197,
  "secondary25-b": 218,
  "secondary25Text": #ffffff,
  "secondary50": #fb8bb6,
  "secondary50-r": 251,
  "secondary50-g": 139,
  "secondary50-b": 182,
  "secondary50Text": #ffffff,
  "secondary75": #f95091,
  "secondary75-r": 249,
  "secondary75-g": 80,
  "secondary75-b": 145,
  "secondary75Text": #ffffff,
  "secondary90": #f82d7b,
  "secondary90-r": 248,
  "secondary90-g": 45,
  "secondary90-b": 123,
  "secondary90Text": #ffffff,
  "tertiary10": #f0eafe,
  "tertiary10-r": 240,
  "tertiary10-g": 234,
  "tertiary10-b": 254,
  "tertiary10Text": #ffffff,
  "tertiary25": #dacbfd,
  "tertiary25-r": 218,
  "tertiary25-g": 203,
  "tertiary25-b": 253,
  "tertiary25Text": #ffffff,
  "tertiary50": #b597fb,
  "tertiary50-r": 181,
  "tertiary50-g": 151,
  "tertiary50-b": 251,
  "tertiary50Text": #ffffff,
  "tertiary75": #8f62f9,
  "tertiary75-r": 143,
  "tertiary75-g": 98,
  "tertiary75-b": 249,
  "tertiary75Text": #ffffff,
  "tertiary90": #7943f8,
  "tertiary90-r": 121,
  "tertiary90-g": 67,
  "tertiary90-b": 248,
  "tertiary90Text": #ffffff,
  "caution10": #ffffe6,
  "caution10-r": 255,
  "caution10-g": 255,
  "caution10-b": 230,
  "caution10Text": #ffffff,
  "caution25": #ffffbf,
  "caution25-r": 255,
  "caution25-g": 255,
  "caution25-b": 191,
  "caution25Text": #ffffff,
  "caution50": #ffff80,
  "caution50-r": 255,
  "caution50-g": 255,
  "caution50-b": 128,
  "caution50Text": #ffffff,
  "caution75": #ffff40,
  "caution75-r": 255,
  "caution75-g": 255,
  "caution75-b": 64,
  "caution75Text": #ffffff,
  "caution90": #ffff1a,
  "caution90-r": 255,
  "caution90-g": 255,
  "caution90-b": 26,
  "caution90Text": #ffffff,
  "warning10": #fff7e6,
  "warning10-r": 255,
  "warning10-g": 247,
  "warning10-b": 230,
  "warning10Text": #ffffff,
  "warning25": #ffeabf,
  "warning25-r": 255,
  "warning25-g": 234,
  "warning25-b": 191,
  "warning25Text": #ffffff,
  "warning50": #ffd580,
  "warning50-r": 255,
  "warning50-g": 213,
  "warning50-b": 128,
  "warning50Text": #ffffff,
  "warning75": #ffbf40,
  "warning75-r": 255,
  "warning75-g": 191,
  "warning75-b": 64,
  "warning75Text": #ffffff,
  "warning90": #ffb31a,
  "warning90-r": 255,
  "warning90-g": 179,
  "warning90-b": 26,
  "warning90Text": #ffffff,
  "error10": #ffe6e6,
  "error10-r": 255,
  "error10-g": 230,
  "error10-b": 230,
  "error10Text": #ffffff,
  "error25": #ffbfbf,
  "error25-r": 255,
  "error25-g": 191,
  "error25-b": 191,
  "error25Text": #ffffff,
  "error50": #ff8080,
  "error50-r": 255,
  "error50-g": 128,
  "error50-b": 128,
  "error50Text": #ffffff,
  "error75": #ff4040,
  "error75-r": 255,
  "error75-g": 64,
  "error75-b": 64,
  "error75Text": #ffffff,
  "error90": #ff1a1a,
  "error90-r": 255,
  "error90-g": 26,
  "error90-b": 26,
  "error90Text": #ffffff,
  "info10": #e6e6ff,
  "info10-r": 230,
  "info10-g": 230,
  "info10-b": 255,
  "info10Text": #ffffff,
  "info25": #bfbfff,
  "info25-r": 191,
  "info25-g": 191,
  "info25-b": 255,
  "info25Text": #ffffff,
  "info50": #8080ff,
  "info50-r": 128,
  "info50-g": 128,
  "info50-b": 255,
  "info50Text": #ffffff,
  "info75": #4040ff,
  "info75-r": 64,
  "info75-g": 64,
  "info75-b": 255,
  "info75Text": #ffffff,
  "info90": #1a1aff,
  "info90-r": 26,
  "info90-g": 26,
  "info90-b": 255,
  "info90Text": #ffffff,
  "success10": #e6ffe6,
  "success10-r": 230,
  "success10-g": 255,
  "success10-b": 230,
  "success10Text": #ffffff,
  "success25": #bfffbf,
  "success25-r": 191,
  "success25-g": 255,
  "success25-b": 191,
  "success25Text": #ffffff,
  "success50": #80ff80,
  "success50-r": 128,
  "success50-g": 255,
  "success50-b": 128,
  "success50Text": #ffffff,
  "success75": #40ff40,
  "success75-r": 64,
  "success75-g": 255,
  "success75-b": 64,
  "success75Text": #ffffff,
  "success90": #1aff1a,
  "success90-r": 26,
  "success90-g": 255,
  "success90-b": 26,
  "success90Text": #ffffff,
  "dark10": #ffffff,
  "dark10-r": 255,
  "dark10-g": 255,
  "dark10-b": 255,
  "dark10Text": #ffffff,
  "dark25": #ffffff,
  "dark25-r": 255,
  "dark25-g": 255,
  "dark25-b": 255,
  "dark25Text": #ffffff,
  "dark50": #ffffff,
  "dark50-r": 255,
  "dark50-g": 255,
  "dark50-b": 255,
  "dark50Text": #ffffff,
  "dark75": #ffffff,
  "dark75-r": 255,
  "dark75-g": 255,
  "dark75-b": 255,
  "dark75Text": #ffffff,
  "dark90": #ffffff,
  "dark90-r": 255,
  "dark90-g": 255,
  "dark90-b": 255,
  "dark90Text": #ffffff,
  "light10": #ffffff,
  "light10-r": 255,
  "light10-g": 255,
  "light10-b": 255,
  "light10Text": #ffffff,
  "light25": #ffffff,
  "light25-r": 255,
  "light25-g": 255,
  "light25-b": 255,
  "light25Text": #ffffff,
  "light50": #ffffff,
  "light50-r": 255,
  "light50-g": 255,
  "light50-b": 255,
  "light50Text": #ffffff,
  "light75": #ffffff,
  "light75-r": 255,
  "light75-g": 255,
  "light75-b": 255,
  "light75Text": #ffffff,
  "light90": #ffffff,
  "light90-r": 255,
  "light90-g": 255,
  "light90-b": 255,
  "light90Text": #ffffff,
  "background": #111111,
  "foreground": #ffffff,
  "primary": #01eeff,
  "secondary": #f7166c,
  "tertiary": #6a2ef7,
  "caution": #ffff00,
  "warning": #ffaa00,
  "error": #ff0000,
  "info": #0000ff,
  "success": #00ff00,
  "dark": #ffffff,
  "light": #ffffff,
);
$lightmode-colors: (
  "background10": #ffffff,
  "background10-r": 255,
  "background10-g": 255,
  "background10-b": 255,
  "background10Text": #ffffff,
  "background25": #ffffff,
  "background25-r": 255,
  "background25-g": 255,
  "background25-b": 255,
  "background25Text": #ffffff,
  "background50": #ffffff,
  "background50-r": 255,
  "background50-g": 255,
  "background50-b": 255,
  "background50Text": #ffffff,
  "background75": #ffffff,
  "background75-r": 255,
  "background75-g": 255,
  "background75-b": 255,
  "background75Text": #ffffff,
  "background90": #ffffff,
  "background90-r": 255,
  "background90-g": 255,
  "background90-b": 255,
  "background90Text": #ffffff,
  "foreground10": #e7e7e7,
  "foreground10-r": 231,
  "foreground10-g": 231,
  "foreground10-b": 231,
  "foreground10Text": #ffffff,
  "foreground25": #c4c4c4,
  "foreground25-r": 196,
  "foreground25-g": 196,
  "foreground25-b": 196,
  "foreground25Text": #ffffff,
  "foreground50": #888888,
  "foreground50-r": 136,
  "foreground50-g": 136,
  "foreground50-b": 136,
  "foreground50Text": #ffffff,
  "foreground75": #4d4d4d,
  "foreground75-r": 77,
  "foreground75-g": 77,
  "foreground75-b": 77,
  "foreground75Text": #ffffff,
  "foreground90": #292929,
  "foreground90-r": 41,
  "foreground90-g": 41,
  "foreground90-b": 41,
  "foreground90Text": #ffffff,
  "primary10": #e6fdff,
  "primary10-r": 230,
  "primary10-g": 253,
  "primary10-b": 255,
  "primary10Text": #ffffff,
  "primary25": #c0fbff,
  "primary25-r": 192,
  "primary25-g": 251,
  "primary25-b": 255,
  "primary25Text": #ffffff,
  "primary50": #80f7ff,
  "primary50-r": 128,
  "primary50-g": 247,
  "primary50-b": 255,
  "primary50Text": #ffffff,
  "primary75": #41f2ff,
  "primary75-r": 65,
  "primary75-g": 242,
  "primary75-b": 255,
  "primary75Text": #ffffff,
  "primary90": #1af0ff,
  "primary90-r": 26,
  "primary90-g": 240,
  "primary90-b": 255,
  "primary90Text": #ffffff,
  "secondary10": #fee8f0,
  "secondary10-r": 254,
  "secondary10-g": 232,
  "secondary10-b": 240,
  "secondary10Text": #ffffff,
  "secondary25": #fdc5da,
  "secondary25-r": 253,
  "secondary25-g": 197,
  "secondary25-b": 218,
  "secondary25Text": #ffffff,
  "secondary50": #fb8bb6,
  "secondary50-r": 251,
  "secondary50-g": 139,
  "secondary50-b": 182,
  "secondary50Text": #ffffff,
  "secondary75": #f95091,
  "secondary75-r": 249,
  "secondary75-g": 80,
  "secondary75-b": 145,
  "secondary75Text": #ffffff,
  "secondary90": #f82d7b,
  "secondary90-r": 248,
  "secondary90-g": 45,
  "secondary90-b": 123,
  "secondary90Text": #ffffff,
  "tertiary10": #f0eafe,
  "tertiary10-r": 240,
  "tertiary10-g": 234,
  "tertiary10-b": 254,
  "tertiary10Text": #ffffff,
  "tertiary25": #dacbfd,
  "tertiary25-r": 218,
  "tertiary25-g": 203,
  "tertiary25-b": 253,
  "tertiary25Text": #ffffff,
  "tertiary50": #b597fb,
  "tertiary50-r": 181,
  "tertiary50-g": 151,
  "tertiary50-b": 251,
  "tertiary50Text": #ffffff,
  "tertiary75": #8f62f9,
  "tertiary75-r": 143,
  "tertiary75-g": 98,
  "tertiary75-b": 249,
  "tertiary75Text": #ffffff,
  "tertiary90": #7943f8,
  "tertiary90-r": 121,
  "tertiary90-g": 67,
  "tertiary90-b": 248,
  "tertiary90Text": #ffffff,
  "caution10": #ffffe6,
  "caution10-r": 255,
  "caution10-g": 255,
  "caution10-b": 230,
  "caution10Text": #ffffff,
  "caution25": #ffffbf,
  "caution25-r": 255,
  "caution25-g": 255,
  "caution25-b": 191,
  "caution25Text": #ffffff,
  "caution50": #ffff80,
  "caution50-r": 255,
  "caution50-g": 255,
  "caution50-b": 128,
  "caution50Text": #ffffff,
  "caution75": #ffff40,
  "caution75-r": 255,
  "caution75-g": 255,
  "caution75-b": 64,
  "caution75Text": #ffffff,
  "caution90": #ffff1a,
  "caution90-r": 255,
  "caution90-g": 255,
  "caution90-b": 26,
  "caution90Text": #ffffff,
  "warning10": #fff7e6,
  "warning10-r": 255,
  "warning10-g": 247,
  "warning10-b": 230,
  "warning10Text": #ffffff,
  "warning25": #ffeabf,
  "warning25-r": 255,
  "warning25-g": 234,
  "warning25-b": 191,
  "warning25Text": #ffffff,
  "warning50": #ffd580,
  "warning50-r": 255,
  "warning50-g": 213,
  "warning50-b": 128,
  "warning50Text": #ffffff,
  "warning75": #ffbf40,
  "warning75-r": 255,
  "warning75-g": 191,
  "warning75-b": 64,
  "warning75Text": #ffffff,
  "warning90": #ffb31a,
  "warning90-r": 255,
  "warning90-g": 179,
  "warning90-b": 26,
  "warning90Text": #ffffff,
  "error10": #ffe6e6,
  "error10-r": 255,
  "error10-g": 230,
  "error10-b": 230,
  "error10Text": #ffffff,
  "error25": #ffbfbf,
  "error25-r": 255,
  "error25-g": 191,
  "error25-b": 191,
  "error25Text": #ffffff,
  "error50": #ff8080,
  "error50-r": 255,
  "error50-g": 128,
  "error50-b": 128,
  "error50Text": #ffffff,
  "error75": #ff4040,
  "error75-r": 255,
  "error75-g": 64,
  "error75-b": 64,
  "error75Text": #ffffff,
  "error90": #ff1a1a,
  "error90-r": 255,
  "error90-g": 26,
  "error90-b": 26,
  "error90Text": #ffffff,
  "info10": #e6e6ff,
  "info10-r": 230,
  "info10-g": 230,
  "info10-b": 255,
  "info10Text": #ffffff,
  "info25": #bfbfff,
  "info25-r": 191,
  "info25-g": 191,
  "info25-b": 255,
  "info25Text": #ffffff,
  "info50": #8080ff,
  "info50-r": 128,
  "info50-g": 128,
  "info50-b": 255,
  "info50Text": #ffffff,
  "info75": #4040ff,
  "info75-r": 64,
  "info75-g": 64,
  "info75-b": 255,
  "info75Text": #ffffff,
  "info90": #1a1aff,
  "info90-r": 26,
  "info90-g": 26,
  "info90-b": 255,
  "info90Text": #ffffff,
  "success10": #e6ffe6,
  "success10-r": 230,
  "success10-g": 255,
  "success10-b": 230,
  "success10Text": #ffffff,
  "success25": #bfffbf,
  "success25-r": 191,
  "success25-g": 255,
  "success25-b": 191,
  "success25Text": #ffffff,
  "success50": #80ff80,
  "success50-r": 128,
  "success50-g": 255,
  "success50-b": 128,
  "success50Text": #ffffff,
  "success75": #40ff40,
  "success75-r": 64,
  "success75-g": 255,
  "success75-b": 64,
  "success75Text": #ffffff,
  "success90": #1aff1a,
  "success90-r": 26,
  "success90-g": 255,
  "success90-b": 26,
  "success90Text": #ffffff,
  "dark10": #ffffff,
  "dark10-r": 255,
  "dark10-g": 255,
  "dark10-b": 255,
  "dark10Text": #ffffff,
  "dark25": #ffffff,
  "dark25-r": 255,
  "dark25-g": 255,
  "dark25-b": 255,
  "dark25Text": #ffffff,
  "dark50": #ffffff,
  "dark50-r": 255,
  "dark50-g": 255,
  "dark50-b": 255,
  "dark50Text": #ffffff,
  "dark75": #ffffff,
  "dark75-r": 255,
  "dark75-g": 255,
  "dark75-b": 255,
  "dark75Text": #ffffff,
  "dark90": #ffffff,
  "dark90-r": 255,
  "dark90-g": 255,
  "dark90-b": 255,
  "dark90Text": #ffffff,
  "light10": #ffffff,
  "light10-r": 255,
  "light10-g": 255,
  "light10-b": 255,
  "light10Text": #ffffff,
  "light25": #ffffff,
  "light25-r": 255,
  "light25-g": 255,
  "light25-b": 255,
  "light25Text": #ffffff,
  "light50": #ffffff,
  "light50-r": 255,
  "light50-g": 255,
  "light50-b": 255,
  "light50Text": #ffffff,
  "light75": #ffffff,
  "light75-r": 255,
  "light75-g": 255,
  "light75-b": 255,
  "light75Text": #ffffff,
  "light90": #ffffff,
  "light90-r": 255,
  "light90-g": 255,
  "light90-b": 255,
  "light90Text": #ffffff,
  "background": #ffffff,
  "foreground": #111111,
  "primary": #01eeff,
  "secondary": #f7166c,
  "tertiary": #6a2ef7,
  "caution": #ffff00,
  "warning": #ffaa00,
  "error": #ff0000,
  "info": #0000ff,
  "success": #00ff00,
  "dark": #ffffff,
  "light": #ffffff,
);
$theme-settings: (
  "prefix": "my-project",
  "styleOutput": true,
  "classBasedProperties": true,
  "generateBase": true,
  "generateTypography": true,
  "generateColors": true,
  "generateColorModes": true,
  "colorModes": true,
  "colorShades": true,
  "colorPercentages": false,
  "colorSteps": "10,25,50,75,90",
  "colorText": true,
  "breakpointNames": "small,medium,large",
  "breakpointSizes": "0,720,1200",
);
$theme-base: (
  "borderRadius": 0.25rem,
  "shadow": 0 3px 4px 0 rgba(0, 0, 0, 0.1),
  "space-xl": max(calc(100vw / 12), 4em),
  "space-l": max(calc(100vw / 18), 3em),
  "space": max(calc(100vw / 24), 2em),
  "space-s": max(calc(100vw / 48), 1em),
  "space-xs": max(calc(100vw / 96), 0.5em),
  "transition": 0.3s ease-in-out,
);
$theme-typography: (
  "primaryFontFamily":
    "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol",
  "secondaryFontFamily": "times",
  "baseSize": 16px,
  "thinWeight": 100,
  "lightWeight": 300,
  "normalWeight": 400,
  "mediumWeight": 500,
  "boldWeight": 600,
  "heavyWeight": 900,
);
