$theme-colors: (
  "background10": #e7e7e7,
  "background10-r": 231,
  "background10-g": 231,
  "background10-b": 231,
  "background25": #c4c4c4,
  "background25-r": 196,
  "background25-g": 196,
  "background25-b": 196,
  "background50": #888888,
  "background50-r": 136,
  "background50-g": 136,
  "background50-b": 136,
  "background75": #4d4d4d,
  "background75-r": 77,
  "background75-g": 77,
  "background75-b": 77,
  "background90": #292929,
  "background90-r": 41,
  "background90-g": 41,
  "background90-b": 41,
  "foreground10": #292929,
  "foreground10-r": 41,
  "foreground10-g": 41,
  "foreground10-b": 41,
  "foreground25": #4d4d4d,
  "foreground25-r": 77,
  "foreground25-g": 77,
  "foreground25-b": 77,
  "foreground50": #888888,
  "foreground50-r": 136,
  "foreground50-g": 136,
  "foreground50-b": 136,
  "foreground75": #c4c4c4,
  "foreground75-r": 196,
  "foreground75-g": 196,
  "foreground75-b": 196,
  "foreground90": #e7e7e7,
  "foreground90-r": 231,
  "foreground90-g": 231,
  "foreground90-b": 231,
  "primary10": #1af0ff,
  "primary10-r": 26,
  "primary10-g": 240,
  "primary10-b": 255,
  "primary25": #41f2ff,
  "primary25-r": 65,
  "primary25-g": 242,
  "primary25-b": 255,
  "primary50": #80f7ff,
  "primary50-r": 128,
  "primary50-g": 247,
  "primary50-b": 255,
  "primary75": #c0fbff,
  "primary75-r": 192,
  "primary75-g": 251,
  "primary75-b": 255,
  "primary90": #e6fdff,
  "primary90-r": 230,
  "primary90-g": 253,
  "primary90-b": 255,
  "secondary10": #f82d7b,
  "secondary10-r": 248,
  "secondary10-g": 45,
  "secondary10-b": 123,
  "secondary25": #f95091,
  "secondary25-r": 249,
  "secondary25-g": 80,
  "secondary25-b": 145,
  "secondary50": #fb8bb6,
  "secondary50-r": 251,
  "secondary50-g": 139,
  "secondary50-b": 182,
  "secondary75": #fdc5da,
  "secondary75-r": 253,
  "secondary75-g": 197,
  "secondary75-b": 218,
  "secondary90": #fee8f0,
  "secondary90-r": 254,
  "secondary90-g": 232,
  "secondary90-b": 240,
  "tertiary10": #7943f8,
  "tertiary10-r": 121,
  "tertiary10-g": 67,
  "tertiary10-b": 248,
  "tertiary25": #8f62f9,
  "tertiary25-r": 143,
  "tertiary25-g": 98,
  "tertiary25-b": 249,
  "tertiary50": #b597fb,
  "tertiary50-r": 181,
  "tertiary50-g": 151,
  "tertiary50-b": 251,
  "tertiary75": #dacbfd,
  "tertiary75-r": 218,
  "tertiary75-g": 203,
  "tertiary75-b": 253,
  "tertiary90": #f0eafe,
  "tertiary90-r": 240,
  "tertiary90-g": 234,
  "tertiary90-b": 254,
  "caution10": #ffff1a,
  "caution10-r": 255,
  "caution10-g": 255,
  "caution10-b": 26,
  "caution25": #ffff40,
  "caution25-r": 255,
  "caution25-g": 255,
  "caution25-b": 64,
  "caution50": #ffff7f,
  "caution50-r": 255,
  "caution50-g": 255,
  "caution50-b": 127,
  "caution75": #ffffbf,
  "caution75-r": 255,
  "caution75-g": 255,
  "caution75-b": 191,
  "caution90": #ffffe5,
  "caution90-r": 255,
  "caution90-g": 255,
  "caution90-b": 229,
  "warning10": #ffb31a,
  "warning10-r": 255,
  "warning10-g": 179,
  "warning10-b": 26,
  "warning25": #ffbf40,
  "warning25-r": 255,
  "warning25-g": 191,
  "warning25-b": 64,
  "warning50": #ffd57f,
  "warning50-r": 255,
  "warning50-g": 213,
  "warning50-b": 127,
  "warning75": #ffeabf,
  "warning75-r": 255,
  "warning75-g": 234,
  "warning75-b": 191,
  "warning90": #fff7e5,
  "warning90-r": 255,
  "warning90-g": 247,
  "warning90-b": 229,
  "error10": #ff1a1a,
  "error10-r": 255,
  "error10-g": 26,
  "error10-b": 26,
  "error25": #ff4040,
  "error25-r": 255,
  "error25-g": 64,
  "error25-b": 64,
  "error50": #ff7f7f,
  "error50-r": 255,
  "error50-g": 127,
  "error50-b": 127,
  "error75": #ffbfbf,
  "error75-r": 255,
  "error75-g": 191,
  "error75-b": 191,
  "error90": #ffe5e5,
  "error90-r": 255,
  "error90-g": 229,
  "error90-b": 229,
  "info10": #1a1aff,
  "info10-r": 26,
  "info10-g": 26,
  "info10-b": 255,
  "info25": #4040ff,
  "info25-r": 64,
  "info25-g": 64,
  "info25-b": 255,
  "info50": #7f7fff,
  "info50-r": 127,
  "info50-g": 127,
  "info50-b": 255,
  "info75": #bfbfff,
  "info75-r": 191,
  "info75-g": 191,
  "info75-b": 255,
  "info90": #e5e5ff,
  "info90-r": 229,
  "info90-g": 229,
  "info90-b": 255,
  "success10": #1aff1a,
  "success10-r": 26,
  "success10-g": 255,
  "success10-b": 26,
  "success25": #40ff40,
  "success25-r": 64,
  "success25-g": 255,
  "success25-b": 64,
  "success50": #7fff7f,
  "success50-r": 127,
  "success50-g": 255,
  "success50-b": 127,
  "success75": #bfffbf,
  "success75-r": 191,
  "success75-g": 255,
  "success75-b": 191,
  "success90": #e5ffe5,
  "success90-r": 229,
  "success90-g": 255,
  "success90-b": 229,
  "dark10": #292929,
  "dark10-r": 41,
  "dark10-g": 41,
  "dark10-b": 41,
  "dark25": #4d4d4d,
  "dark25-r": 77,
  "dark25-g": 77,
  "dark25-b": 77,
  "dark50": #888888,
  "dark50-r": 136,
  "dark50-g": 136,
  "dark50-b": 136,
  "dark75": #c4c4c4,
  "dark75-r": 196,
  "dark75-g": 196,
  "dark75-b": 196,
  "dark90": #e7e7e7,
  "dark90-r": 231,
  "dark90-g": 231,
  "dark90-b": 231,
  "light10": #e7e7e7,
  "light10-r": 231,
  "light10-g": 231,
  "light10-b": 231,
  "light25": #c4c4c4,
  "light25-r": 196,
  "light25-g": 196,
  "light25-b": 196,
  "light50": #888888,
  "light50-r": 136,
  "light50-g": 136,
  "light50-b": 136,
  "light75": #4d4d4d,
  "light75-r": 77,
  "light75-g": 77,
  "light75-b": 77,
  "light90": #292929,
  "light90-r": 41,
  "light90-g": 41,
  "light90-b": 41,
  "background": #ffffff,
  "foreground": #111111,
  "primary": #01eeff,
  "secondary": #f7166c,
  "tertiary": #6a2ef7,
  "caution": #ffff00,
  "warning": #ffaa00,
  "error": #ff0000,
  "info": #0000ff,
  "success": #00ff00,
  "dark": #111111,
  "light": #ffffff,
);
$darkmode-colors: (
  "background10": #e7e7e7,
  "background10-r": 231,
  "background10-g": 231,
  "background10-b": 231,
  "background25": #c4c4c4,
  "background25-r": 196,
  "background25-g": 196,
  "background25-b": 196,
  "background50": #888888,
  "background50-r": 136,
  "background50-g": 136,
  "background50-b": 136,
  "background75": #4d4d4d,
  "background75-r": 77,
  "background75-g": 77,
  "background75-b": 77,
  "background90": #292929,
  "background90-r": 41,
  "background90-g": 41,
  "background90-b": 41,
  "foreground10": #292929,
  "foreground10-r": 41,
  "foreground10-g": 41,
  "foreground10-b": 41,
  "foreground25": #4d4d4d,
  "foreground25-r": 77,
  "foreground25-g": 77,
  "foreground25-b": 77,
  "foreground50": #888888,
  "foreground50-r": 136,
  "foreground50-g": 136,
  "foreground50-b": 136,
  "foreground75": #c4c4c4,
  "foreground75-r": 196,
  "foreground75-g": 196,
  "foreground75-b": 196,
  "foreground90": #e7e7e7,
  "foreground90-r": 231,
  "foreground90-g": 231,
  "foreground90-b": 231,
  "primary10": #03d8e7,
  "primary10-r": 3,
  "primary10-g": 216,
  "primary10-b": 231,
  "primary25": #05b7c4,
  "primary25-r": 5,
  "primary25-g": 183,
  "primary25-b": 196,
  "primary50": #098088,
  "primary50-r": 9,
  "primary50-g": 128,
  "primary50-b": 136,
  "primary75": #0d484d,
  "primary75-r": 13,
  "primary75-g": 72,
  "primary75-b": 77,
  "primary90": #0f2729,
  "primary90-r": 15,
  "primary90-g": 39,
  "primary90-b": 41,
  "secondary10": #e01663,
  "secondary10-r": 224,
  "secondary10-g": 22,
  "secondary10-b": 99,
  "secondary25": #be1555,
  "secondary25-r": 190,
  "secondary25-g": 21,
  "secondary25-b": 85,
  "secondary50": #84143f,
  "secondary50-r": 132,
  "secondary50-g": 20,
  "secondary50-b": 63,
  "secondary75": #4b1228,
  "secondary75-r": 75,
  "secondary75-g": 18,
  "secondary75-b": 40,
  "secondary90": #28121a,
  "secondary90-r": 40,
  "secondary90-g": 18,
  "secondary90-b": 26,
  "tertiary10": #612be0,
  "tertiary10-r": 97,
  "tertiary10-g": 43,
  "tertiary10-b": 224,
  "tertiary25": #5427be,
  "tertiary25-r": 84,
  "tertiary25-g": 39,
  "tertiary25-b": 190,
  "tertiary50": #3e2084,
  "tertiary50-r": 62,
  "tertiary50-g": 32,
  "tertiary50-b": 132,
  "tertiary75": #27184b,
  "tertiary75-r": 39,
  "tertiary75-g": 24,
  "tertiary75-b": 75,
  "tertiary90": #1a1428,
  "tertiary90-r": 26,
  "tertiary90-g": 20,
  "tertiary90-b": 40,
  "caution10": #e7e702,
  "caution10-r": 231,
  "caution10-g": 231,
  "caution10-b": 2,
  "caution25": #c4c404,
  "caution25-r": 196,
  "caution25-g": 196,
  "caution25-b": 4,
  "caution50": #888809,
  "caution50-r": 136,
  "caution50-g": 136,
  "caution50-b": 9,
  "caution75": #4d4d0d,
  "caution75-r": 77,
  "caution75-g": 77,
  "caution75-b": 13,
  "caution90": #29290f,
  "caution90-r": 41,
  "caution90-g": 41,
  "caution90-b": 15,
  "warning10": #e79b02,
  "warning10-r": 231,
  "warning10-g": 155,
  "warning10-b": 2,
  "warning25": #c48404,
  "warning25-r": 196,
  "warning25-g": 132,
  "warning25-b": 4,
  "warning50": #885e09,
  "warning50-r": 136,
  "warning50-g": 94,
  "warning50-b": 9,
  "warning75": #4d370d,
  "warning75-r": 77,
  "warning75-g": 55,
  "warning75-b": 13,
  "warning90": #29200f,
  "warning90-r": 41,
  "warning90-g": 32,
  "warning90-b": 15,
  "error10": #e70202,
  "error10-r": 231,
  "error10-g": 2,
  "error10-b": 2,
  "error25": #c40404,
  "error25-r": 196,
  "error25-g": 4,
  "error25-b": 4,
  "error50": #880909,
  "error50-r": 136,
  "error50-g": 9,
  "error50-b": 9,
  "error75": #4d0d0d,
  "error75-r": 77,
  "error75-g": 13,
  "error75-b": 13,
  "error90": #290f0f,
  "error90-r": 41,
  "error90-g": 15,
  "error90-b": 15,
  "info10": #0202e7,
  "info10-r": 2,
  "info10-g": 2,
  "info10-b": 231,
  "info25": #0404c4,
  "info25-r": 4,
  "info25-g": 4,
  "info25-b": 196,
  "info50": #090988,
  "info50-r": 9,
  "info50-g": 9,
  "info50-b": 136,
  "info75": #0d0d4d,
  "info75-r": 13,
  "info75-g": 13,
  "info75-b": 77,
  "info90": #0f0f29,
  "info90-r": 15,
  "info90-g": 15,
  "info90-b": 41,
  "success10": #02e702,
  "success10-r": 2,
  "success10-g": 231,
  "success10-b": 2,
  "success25": #04c404,
  "success25-r": 4,
  "success25-g": 196,
  "success25-b": 4,
  "success50": #098809,
  "success50-r": 9,
  "success50-g": 136,
  "success50-b": 9,
  "success75": #0d4d0d,
  "success75-r": 13,
  "success75-g": 77,
  "success75-b": 13,
  "success90": #0f290f,
  "success90-r": 15,
  "success90-g": 41,
  "success90-b": 15,
  "dark10": #292929,
  "dark10-r": 41,
  "dark10-g": 41,
  "dark10-b": 41,
  "dark25": #4d4d4d,
  "dark25-r": 77,
  "dark25-g": 77,
  "dark25-b": 77,
  "dark50": #888888,
  "dark50-r": 136,
  "dark50-g": 136,
  "dark50-b": 136,
  "dark75": #c4c4c4,
  "dark75-r": 196,
  "dark75-g": 196,
  "dark75-b": 196,
  "dark90": #e7e7e7,
  "dark90-r": 231,
  "dark90-g": 231,
  "dark90-b": 231,
  "light10": #e7e7e7,
  "light10-r": 231,
  "light10-g": 231,
  "light10-b": 231,
  "light25": #c4c4c4,
  "light25-r": 196,
  "light25-g": 196,
  "light25-b": 196,
  "light50": #888888,
  "light50-r": 136,
  "light50-g": 136,
  "light50-b": 136,
  "light75": #4d4d4d,
  "light75-r": 77,
  "light75-g": 77,
  "light75-b": 77,
  "light90": #292929,
  "light90-r": 41,
  "light90-g": 41,
  "light90-b": 41,
  "background": #111111,
  "foreground": #ffffff,
  "primary": #01eeff,
  "secondary": #f7166c,
  "tertiary": #6a2ef7,
  "caution": #ffff00,
  "warning": #ffaa00,
  "error": #ff0000,
  "info": #0000ff,
  "success": #00ff00,
  "dark": #111111,
  "light": #ffffff,
);
$lightmode-colors: (
  "background10": #e7e7e7,
  "background10-r": 231,
  "background10-g": 231,
  "background10-b": 231,
  "background25": #c4c4c4,
  "background25-r": 196,
  "background25-g": 196,
  "background25-b": 196,
  "background50": #888888,
  "background50-r": 136,
  "background50-g": 136,
  "background50-b": 136,
  "background75": #4d4d4d,
  "background75-r": 77,
  "background75-g": 77,
  "background75-b": 77,
  "background90": #292929,
  "background90-r": 41,
  "background90-g": 41,
  "background90-b": 41,
  "foreground10": #292929,
  "foreground10-r": 41,
  "foreground10-g": 41,
  "foreground10-b": 41,
  "foreground25": #4d4d4d,
  "foreground25-r": 77,
  "foreground25-g": 77,
  "foreground25-b": 77,
  "foreground50": #888888,
  "foreground50-r": 136,
  "foreground50-g": 136,
  "foreground50-b": 136,
  "foreground75": #c4c4c4,
  "foreground75-r": 196,
  "foreground75-g": 196,
  "foreground75-b": 196,
  "foreground90": #e7e7e7,
  "foreground90-r": 231,
  "foreground90-g": 231,
  "foreground90-b": 231,
  "primary10": #1af0ff,
  "primary10-r": 26,
  "primary10-g": 240,
  "primary10-b": 255,
  "primary25": #41f2ff,
  "primary25-r": 65,
  "primary25-g": 242,
  "primary25-b": 255,
  "primary50": #80f7ff,
  "primary50-r": 128,
  "primary50-g": 247,
  "primary50-b": 255,
  "primary75": #c0fbff,
  "primary75-r": 192,
  "primary75-g": 251,
  "primary75-b": 255,
  "primary90": #e6fdff,
  "primary90-r": 230,
  "primary90-g": 253,
  "primary90-b": 255,
  "secondary10": #f82d7b,
  "secondary10-r": 248,
  "secondary10-g": 45,
  "secondary10-b": 123,
  "secondary25": #f95091,
  "secondary25-r": 249,
  "secondary25-g": 80,
  "secondary25-b": 145,
  "secondary50": #fb8bb6,
  "secondary50-r": 251,
  "secondary50-g": 139,
  "secondary50-b": 182,
  "secondary75": #fdc5da,
  "secondary75-r": 253,
  "secondary75-g": 197,
  "secondary75-b": 218,
  "secondary90": #fee8f0,
  "secondary90-r": 254,
  "secondary90-g": 232,
  "secondary90-b": 240,
  "tertiary10": #7943f8,
  "tertiary10-r": 121,
  "tertiary10-g": 67,
  "tertiary10-b": 248,
  "tertiary25": #8f62f9,
  "tertiary25-r": 143,
  "tertiary25-g": 98,
  "tertiary25-b": 249,
  "tertiary50": #b597fb,
  "tertiary50-r": 181,
  "tertiary50-g": 151,
  "tertiary50-b": 251,
  "tertiary75": #dacbfd,
  "tertiary75-r": 218,
  "tertiary75-g": 203,
  "tertiary75-b": 253,
  "tertiary90": #f0eafe,
  "tertiary90-r": 240,
  "tertiary90-g": 234,
  "tertiary90-b": 254,
  "caution10": #ffff1a,
  "caution10-r": 255,
  "caution10-g": 255,
  "caution10-b": 26,
  "caution25": #ffff40,
  "caution25-r": 255,
  "caution25-g": 255,
  "caution25-b": 64,
  "caution50": #ffff7f,
  "caution50-r": 255,
  "caution50-g": 255,
  "caution50-b": 127,
  "caution75": #ffffbf,
  "caution75-r": 255,
  "caution75-g": 255,
  "caution75-b": 191,
  "caution90": #ffffe5,
  "caution90-r": 255,
  "caution90-g": 255,
  "caution90-b": 229,
  "warning10": #ffb31a,
  "warning10-r": 255,
  "warning10-g": 179,
  "warning10-b": 26,
  "warning25": #ffbf40,
  "warning25-r": 255,
  "warning25-g": 191,
  "warning25-b": 64,
  "warning50": #ffd57f,
  "warning50-r": 255,
  "warning50-g": 213,
  "warning50-b": 127,
  "warning75": #ffeabf,
  "warning75-r": 255,
  "warning75-g": 234,
  "warning75-b": 191,
  "warning90": #fff7e5,
  "warning90-r": 255,
  "warning90-g": 247,
  "warning90-b": 229,
  "error10": #ff1a1a,
  "error10-r": 255,
  "error10-g": 26,
  "error10-b": 26,
  "error25": #ff4040,
  "error25-r": 255,
  "error25-g": 64,
  "error25-b": 64,
  "error50": #ff7f7f,
  "error50-r": 255,
  "error50-g": 127,
  "error50-b": 127,
  "error75": #ffbfbf,
  "error75-r": 255,
  "error75-g": 191,
  "error75-b": 191,
  "error90": #ffe5e5,
  "error90-r": 255,
  "error90-g": 229,
  "error90-b": 229,
  "info10": #1a1aff,
  "info10-r": 26,
  "info10-g": 26,
  "info10-b": 255,
  "info25": #4040ff,
  "info25-r": 64,
  "info25-g": 64,
  "info25-b": 255,
  "info50": #7f7fff,
  "info50-r": 127,
  "info50-g": 127,
  "info50-b": 255,
  "info75": #bfbfff,
  "info75-r": 191,
  "info75-g": 191,
  "info75-b": 255,
  "info90": #e5e5ff,
  "info90-r": 229,
  "info90-g": 229,
  "info90-b": 255,
  "success10": #1aff1a,
  "success10-r": 26,
  "success10-g": 255,
  "success10-b": 26,
  "success25": #40ff40,
  "success25-r": 64,
  "success25-g": 255,
  "success25-b": 64,
  "success50": #7fff7f,
  "success50-r": 127,
  "success50-g": 255,
  "success50-b": 127,
  "success75": #bfffbf,
  "success75-r": 191,
  "success75-g": 255,
  "success75-b": 191,
  "success90": #e5ffe5,
  "success90-r": 229,
  "success90-g": 255,
  "success90-b": 229,
  "dark10": #292929,
  "dark10-r": 41,
  "dark10-g": 41,
  "dark10-b": 41,
  "dark25": #4d4d4d,
  "dark25-r": 77,
  "dark25-g": 77,
  "dark25-b": 77,
  "dark50": #888888,
  "dark50-r": 136,
  "dark50-g": 136,
  "dark50-b": 136,
  "dark75": #c4c4c4,
  "dark75-r": 196,
  "dark75-g": 196,
  "dark75-b": 196,
  "dark90": #e7e7e7,
  "dark90-r": 231,
  "dark90-g": 231,
  "dark90-b": 231,
  "light10": #e7e7e7,
  "light10-r": 231,
  "light10-g": 231,
  "light10-b": 231,
  "light25": #c4c4c4,
  "light25-r": 196,
  "light25-g": 196,
  "light25-b": 196,
  "light50": #888888,
  "light50-r": 136,
  "light50-g": 136,
  "light50-b": 136,
  "light75": #4d4d4d,
  "light75-r": 77,
  "light75-g": 77,
  "light75-b": 77,
  "light90": #292929,
  "light90-r": 41,
  "light90-g": 41,
  "light90-b": 41,
  "background": #ffffff,
  "foreground": #111111,
  "primary": #01eeff,
  "secondary": #f7166c,
  "tertiary": #6a2ef7,
  "caution": #ffff00,
  "warning": #ffaa00,
  "error": #ff0000,
  "info": #0000ff,
  "success": #00ff00,
  "dark": #111111,
  "light": #ffffff,
);
$theme-settings: (
  "prefix": "my-project",
  "styleOutput": true,
  "classBasedProperties": true,
  "generateBase": true,
  "generateTypography": true,
  "generateColors": true,
  "generateColorModes": true,
  "colorModes": true,
  "colorShades": true,
  "colorPercentages": false,
  "colorSteps": (
    10,
    25,
    50,
    75,
    90,
  ),
  "colorText": true,
  "breakpointNames": (
    small,
    medium,
    large,
  ),
  "breakpointSizes": (
    0,
    720,
    1200,
  ),
);
$theme-base: (
  "borderRadius": 0.25rem,
  "shadow": 0 3px 4px 0 rgba(0, 0, 0, 0.1),
  "space-xl": max(calc(100vw / 12), 4em),
  "space-l": max(calc(100vw / 18), 3em),
  "space": max(calc(100vw / 24), 2em),
  "space-s": max(calc(100vw / 48), 1em),
  "space-xs": max(calc(100vw / 96), 0.5em),
  "transition": 0.3s ease-in-out,
);
$theme-typography: (
  "primaryFontFamily": (
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
  ),
  "secondaryFontFamily": "times",
  "baseSize": 16px,
  "thinWeight": 100,
  "lightWeight": 300,
  "normalWeight": 400,
  "mediumWeight": 500,
  "boldWeight": 600,
  "heavyWeight": 900,
);
