@use "sass:map";
// Default theme settings
$colors: (
  background: #ffffff,
  foreground: #111111,
  primary: #01eeff,
  secondary: #f7166c,
  tertiary: #6a2ef7,
  caution: #fed02f,
  warning: #fd8324,
  error: #fc1b1c,
  info: #7abffc,
  success: #54d577,
) !default;

// Define empty customisable map for colors
$theme-colors: () !default;

// Merge theme colors with custom colors
$colors: map.merge($colors, $theme-colors) !global;
$colors: addShades($colors, (75, 50, 25, 10)) !global;
$colors: addTextColor($colors) !global;
