@use "sass:map";

$runs: 1;
// Default theme settings
$colors: (
  background: #ffffff,
  foreground: #111111,
  primary: #01eeff,
  secondary: #f7166c,
  tertiary: #6a2ef7,
  caution: #fed02f,
  warning: #fd8324,
  error: #fc1b1c,
  info: #7abffc,
  success: #54d577,
) !default;

// Define empty customisable map for colors
$theme-colors: () !default;

// Merge theme colors with custom colors
$colors: map.merge($colors, $theme-colors) !global;

$darkmode-colors: ();
$lightmode-colors: ();

// Generate Colors per Color Mode

$has-colors-colormodes: map.get($settings, "colors", "colorModes");
$has-colors-generate: map.get($settings, "colors", "generateColorModes");
$has-colors-shades: map.get($settings, "colors", "shades");
$has-colors-opacity: map.get($settings, "colors", "opacity");
$has-colors-text: map.get($settings, "colors", "text");
$steps: map.get($settings, colors, shadeSteps);

@import "../modules/color";

@if $app {
  @if $has-colors-colormodes or $has-colors-generate {
    $darkmode-colors: toMode("dark", $colors) !global;
    $lightmode-colors: toMode("light", $colors) !global;

    @if $has-colors-shades {
      @if $has-colors-opacity {
        $darkmode-colors: addOpacityShades(
          $darkmode-colors,
          $steps,
          false
        ) !global;
        $lightmode-colors: addOpacityShades(
          $lightmode-colors,
          $steps,
          false
        ) !global;
      } @else {
        $darkmode-colors: addShades($darkmode-colors, $steps, false) !global;
        $lightmode-colors: addShades($lightmode-colors, $steps, false) !global;
      }
    }

    @if $has-colors-text {
      $darkmode-colors: addTextColor($darkmode-colors) !global;
      $lightmode-colors: addTextColor($lightmode-colors) !global;
    }
  }
}

// Generate all base colors and shades.
@if $has-colors-shades {
  @if $has-colors-opacity {
    $colors: addOpacityShades($colors, $steps) !global;
  } @else {
    $colors: addShades($colors, $steps) !global;
  }
}

@if $has-colors-text {
  $colors: addTextColor($colors) !global;
}

// Add all shades to the cached defaults.
$cached-defaults: map.merge($cached-defaults, $colors) !global;
