@use "sass:map";

// Default theme settings
$settings: (
  prefix: "",
  properties: (
    base: true,
    typography: true,
    colors: true,
  ),
  colors: (
    shadeSteps: (
      10,
      25,
      50,
      75,
      90,
    ),
    shades: true,
    text: true,
  ),
) !default;

// Define empty customisable map for theme
$theme-settings: () !default;

// Merge theme settings with custom settings
$settings: map.deep-merge($settings, $theme-settings) !global;
