@use "sass:map";

// Define empty customisable map for theme
$theme-settings: () !default;

// Default theme settings
$settings: (
  prefix: "",
  classBasedProperties: true,
  properties: (
    base: true,
    typography: true,
    colors: true,
  ),
  colors: (
    colorModes: true,
    generateColorModes: false,
    shadeSteps: (
      10,
      25,
      50,
      75,
      90,
    ),
    percentages: false,
    shades: true,
    text: true,
  ),
  breakpoints: (
    small: 0,
    medium: 720,
    large: 1200,
  ),
) !default;

// Merge theme settings with custom settings
$settings: map.deep-merge($settings, $theme-settings) !global;

$cached-defaults: map.merge($cached-defaults, $settings) !global;
