@use "sass:map";

// Default theme typography
$typography: (
  primaryFontFamily: (
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
  ),
  secondaryFontFamily: "times",
  base-size: 16px,
  thin-weight: 100,
  light-weight: 300,
  normal-weight: 400,
  medium-weight: 500,
  bold-weight: 600,
  heavy-weight: 900,
) !default;

// Define empty customisable map for theme
$theme-typography: () !default;

// Merge theme typography with custom typography
@each $key, $value in $theme-typography {
  $typography: map.set($typography, $key, $value);
}

$cached-defaults: map.merge($cached-defaults, $typography) !global;
