@use "sass:map";
@import "./default/index";

body,
html {
  padding: 0;
  margin: 0;
  background-color: variable(background);
  color: variable(foreground);
  font-size: variable(baseSize);
  font-family: variable(primaryFontFamily);
}
* {
  box-sizing: border-box;
}
@import "./style/reset.scss";

/*
  	Theme Colors
  */
@if map.get($settings, "properties", "colors") {
  @if map.get($settings, "colors", colorModes) {
    @media (prefers-color-scheme: dark) {
      :root {
        @include customProperties($darkmode-colors);
      }
    }
    @media (prefers-color-scheme: light) {
      :root {
        @include customProperties($lightmode-colors);
      }
    }
  } @else {
    :root {
      @include customProperties($colors);
    }
  }
}

:root {
  /*
		Theme Base
	*/
  @if map.get($settings, "properties", "base") {
    @include customProperties($base);
  }

  /*
  	Theme Typography
  */
  @if map.get($settings, "properties", "typography") {
    @include customProperties($typography);
  }
}
